/*---------------ローディング画面系-------------*/
#progress {
    position: fixed;
    height: 4em;
    width: 4em;
    top: 50%;
    left: 50%;
    margin-top: -2em;
    margin-left: -2em;
}

#post_load {
    display: none;
}

.page-content{
    display: none;
}

body {
    overflow-x: auto;
    background-color: #F4F3EF;
}

/*ドロワーまわり*/
.demo-drawer {
    border: none;
}
/* iOS Safari specific workaround */
.demo-drawer .mdl-menu__container {
    z-index: -1;
}
.demo-drawer .demo-navigation {
    z-index: -2;
}
/* END iOS Safari specific workaround */
.demo-drawer .mdl-menu .mdl-menu__item {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.demo-drawer-header {
    box-sizing: border-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 16px;
    height: 151px;
    background-color: white;
}

.demo-avatar {
    width: 48px;
    height: 48px;
    border-radius: 24px;
    margin-right: 24px;
}

.demo-avatar-dropdown {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
}

.demo-navigation {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.demo-layout .demo-navigation .mdl-navigation__link {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.56);
    font-weight: 500;
}

.drawer_icon {
    margin-right: 32px;
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link{
    text-decoration: none;
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link :hover {
    text-decoration: none;
}

/*************nav bar***************/
.mdl-layout__header{
    background-color: white;
    color: #66615b;
}

.mdl-layout__header .mdl-layout__drawer-button {
    color: #66615b;
}

.mdl-layout__tab{
    background-color: white;
}

.mdl-layout__header-row{
    padding-right: 20px;
}

/*----------------login---------------*/
#login-grid{
    text-align: center;
}

#login-logo{
    width: 100%;
    max-width: 200px;
}

#login_w{
    width: 100%;
    display: none;
}

#login_title{
    color: #E57C3E;
    text-align: center;
    margin-top: 8px;
    margin-bottom: 100px;
}

body {
    overflow-x: hidden;
    background-color: #F4F3EF;
}

#chart_w{
    max-width: 1200px;
    margin: 0 auto;
    padding: 72px 48px 120px 48px;
    position: relative;
}

.card{
    margin: 40px auto;
    border: 0;
    border-radius: 10px;
    box-shadow: 0 2px 2px rgba(204, 197, 185, 0.5);
    padding: 30px;
    max-width: 1200px;/*todo これは端末の画面サイズなどによって変える？？*/
    min-width: fit-content;
}

#card-wrapper{
    padding: 0 48px;
}

#table-others-w{
    margin: 36px auto;
    padding: 36px 72px;
    min-width: 1200px;/*todo これは端末の画面サイズなどによって変える？？*/
}

.mdl-layout__content{
    overflow-x: auto;
}

/*------------chartHeader系---------------*/
/*todo header高さずれちゃう問題どうにかすること*/
#chart_header{
    width: 100%;
    vertical-align: middle;
}

#chart_title{
    height: 100%;
    vertical-align: middle;
}

#chart_title_h{
    height: 100%;
    text-align: center;
}

#chart_title_w{
    color: #66615b;
    display: none;
}

#chart_title_w_month{
    color: #66615b;
}

#chart_title_start{
    color: #66615b;
    font-size: 20px;
}

#chart_title_end{
    color: #66615b;
    font-size: 20px;
}

#next_btn{
    color: #E57C3E;
    float: right;
}

#prev_btn{
    color: #E57C3E;
}

.fa-chevron-circle-down{
    color: #E57C3E;
}

#angle{
    color: #E57C3E;
    margin: 0 20px;
}

.color-orange{
    color: #E57C3E;
}

#header-dpdn{
    margin: 0 10px;
    font-size: 16px;
}

#chart_title_k{
    font-size: 2em;
}

/*********************分析時間*********************/
.sub_chart{
    margin: 0 32px 48px 32px;
}

#chart-ave-eve{
    margin-top: 48px;
}

.average{
    color: #66615b;
    font-size: 20px;
}

.ave-digit-td{
    /*padding-left: 6px;*/
    /*border-left: 3px solid #66615b;*/
    font-size: 18px;
    width:1%;
}

.range-title{
    font-size: 18px;
    height: 30px;
}

.range-title .fa-angle-double-right{

}

.chart-ave {
    overflow: auto;
    /*width: 100%;*/
}

.ave-angle{
    margin: 0 10px;
    text-align: center;
}

.caption{
    font-size: 14px;
}

.no-wrap{
    white-space:nowrap;
}

.chart-ave td{
    padding: 0 24px;
}

.chart-ave .table-space{
    height: 12px;
}

.chart-ave .table-seem{
    height: 1px;
}

.chart-ave .back-orange{
    background-color: #FFFCF5;
}

.err-non-data {
    color: #CCC5B9;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

.err-non-data h3{
    margin: 0;
}

/********************タブ2ページ目系***********************/
#bg-param{
    text-align: center;
}

#table-others thead{
    border-bottom: 1px solid #dbdad7;
}

#table-others thead td{
    height: 36px;
    background-color: #FFFCF5;
    font-size: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    white-space:nowrap;
}

#table-others tbody tr{
    height: 36px;
    /*border-bottom: 1px solid #CCC5B9;*/
    font-size: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    vertical-align: middle;
}

#table-others tbody .holiday{
    color: #dd3734;
}

#table-others tbody td{
    vertical-align: middle;
    text-align: center;
    padding-bottom: 4px;
    padding-top: 4px;
}

#table-others .mdl-chip{
    margin: 2px;
}

#table-others .row-head{
    white-space: nowrap;
    border-right: 1px solid #dbdad7;
}

#table-others .text{
    text-align: start;
}

#table-others .fa-caret-down{
    cursor: pointer;
}

.color-disable {
    color: #CCC5B9;
}

/*tippy jsのthemeの変え方がわからない・・・*/
/*.tippy-tooltip.translucent-theme {*/
    /*!* Your styling here. Example: *!*/
    /*background-color: rgba(0, 0, 0, 0.01);*/
    /*border: 0;*/
    /*color: gray;*/
/*}*/

/*.tippy-tooltip.honeybee-theme .tippy-content {*/
    /*!* Your styling here. Example: *!*/
    /*color: rgba(0, 0, 0, 0.01);*/
/*}*/

/*.tippy-popper[x-placement^=top] .tippy-tooltip.honeybee-theme .tippy-arrow {*/
    /*!* Your arrow styling here. *!*/

/*}*/