<!DOCTYPE html>
<html lang="ja">
<head>
    <% include ../common/_head_template.ejs %>

    <!--google material design lite-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>

    <script src="https://cdn.firebase.com/libs/firebaseui/2.5.1/firebaseui.js"></script>
    <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/2.5.1/firebaseui.css" />

    <link href="../dist/common.css" rel="stylesheet">
    <link href="style2.css" rel="stylesheet">
</head>
<body>

<% include ../common/_login_ui.ejs %>

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-layout--fixed-tabs">
    <div id="post_load">

        <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
            <header class="mdl-layout__header">
                <div class="mdl-layout__header-row">
                    <span class="mdl-layout-title">分析</span>
                </div>
            </header>

            <div class="mdl-layout__drawer">
                <header class="demo-drawer-header">
                    <% include ../common/_drawer.ejs %>
                    <% include ../common/DrawerLink/_analytics.ejs %>
                </header>
            </div>

            <div class="page-content">
                <div id="wrapper">
                    <div id="page-header">
                        <div id="header-center">
                            <button class="mdl-button mdl-js-button mdl-button--icon">
                                <i class="fas fa-chevron-circle-left fa-sm"></i>
                            </button>
                            <h1>6月</h1>
                            <button class="mdl-button mdl-js-button mdl-button--icon">
                                <i class="fas fa-chevron-circle-right fa-sm"></i>
                            </button>
                        </div>

                        <div id="toggle">
                            <span class="is-active">週表示</span>
                            <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="show-switch">
                                <input type="checkbox" id="show-switch" class="mdl-switch__input" checked>
                                <span class="mdl-switch__label"></span>
                            </label>
                            <span>月表示</span>
                        </div>

                    </div>

                    <div id="tab-w">
                        <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
                            <div id="tabs-bar-w">
                                <div class="mdl-tabs__tab-bar">
                                    <a href="#summery" class="mdl-tabs__tab is-active">概要</a>
                                    <a href="#chart" class="mdl-tabs__tab">チャート</a>
                                    <a href="#table" class="mdl-tabs__tab">表</a>
                                </div>
                            </div>

                            <div class="mdl-tabs__panel is-active" id="summery">
                                <ul>
                                    <li id="row-card">
                                        <div class="mdl-card mdl-shadow--6dp">
                                            <img src="../dist/img/icon.png" alt="user-img" id="user-img" class="rounded-circle">
                                            <div id="status">
                                                <div class="caption">記録日数</div>
                                                <div class="value">
                                                    <span>24回</span>
                                                    <span>88%</span>
                                                </div>
                                            </div>
                                            <form action="#" id="comment">
                                                <div class="mdl-textfield mdl-js-textfield">
                                                    <input class="mdl-textfield__input" type="text" id="comment-input">
                                                    <label class="mdl-textfield__label" for="comment-input">コメント</label>
                                                    <span class="mdl-textfield__error">Input is not a number!</span>
                                                </div>
                                            </form>
                                            <div class="mdl-layout-spacer"></div>
                                            <div id="icons">
                                                <button class="mdl-button mdl-js-button mdl-button--icon">
                                                    <i class="fab fa-google-drive"></i>
                                                </button>
                                                <button class="mdl-button mdl-js-button mdl-button--icon">
                                                    <i class="fas fa-file-pdf"></i>
                                                </button>
                                                <button class="mdl-button mdl-js-button mdl-button--icon">
                                                    <i class="fab fa-twitter"></i>
                                                </button>
                                                <button class="mdl-button mdl-js-button mdl-button--icon">
                                                    <i class="fab fa-facebook-square"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </li>

                                    <li class="item" data-type="1">
                                        <h1><i class="fas fa-clock"></i>イベント</h1>
                                        <div class="item-in" data-tyle="1">
                                            <div class="time-compo">
                                                <span class="time-title">仕事</span>
                                                <div class="time">
                                                    <span class="start">9:00</span>
                                                    <span class="arrow"><i class="fas fa-angle-double-right"></i></span>
                                                    <span class="end">16:00</span>
                                                </div>
                                                <span class="time-total">計 9h24min</span>
                                                <span class="rec-times">5回記録</span><span class="rec-comp">先月より+4h15min</span>
                                            </div>
                                            <div class="time-compo">
                                                <span class="time-title">仕事</span>
                                                <div class="time">
                                                    <span class="start">9:00</span>
                                                    <span class="arrow"><i class="fas fa-angle-double-right"></i></span>
                                                    <span class="end">16:00</span>
                                                </div>
                                                <span class="time-total">計 9h24min</span>
                                                <span class="rec-times">5回記録</span><span class="rec-comp">先月より+4h15min</span>
                                            </div>
                                        </div>
                                        <div class="seem"></div>
                                    </li>

                                    <li class="item" data-type="2">
                                        <h1><i class="fas fa-tags"></i>症状</h1>
                                        <!--todo data-type正しいかどうか検証すべき-->
                                        <div class="item-in">
                                            <div>
                                                <h5>登場することが多いタグ</h5>
                                                <!--todo 1行に収まるような形にすること-->
                                                <div>
                                                    <span class="mdl-chip">
                                                        <span class="mdl-chip__text">神経質</span>
                                                    </span>
                                                    <span class="mdl-chip">
                                                        <span class="mdl-chip__text">震え</span>
                                                    </span>
                                                        <span class="mdl-chip">
                                                        <span class="mdl-chip__text">他人の視線が気になる</span>
                                                    </span>
                                                </div>
                                            </div>
                                            <div>
                                                <h5>登場することが少ないタグ</h5>
                                                <div>
                                                    <span class="mdl-chip">
                                                        <span class="mdl-chip__text">神経質</span>
                                                    </span>
                                                    <span class="mdl-chip">
                                                        <span class="mdl-chip__text">震え</span>
                                                    </span>
                                                    <span class="mdl-chip">
                                                        <span class="mdl-chip__text">他人の視線が気になる</span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="seem"></div>
                                    </li>
                                    <li class="item" data-type="3">
                                        <h1>
                                            <i class="fas fa-list-ul"></i>生活
                                        </h1>
                                        <div class="item-in">
                                            <div class="time-compo">
                                                <span class="time-title">朝薬</span>
                                                <div class="time">
                                                    <span>29</span><span class="times-unit">回</span>
                                                </div>
                                                <span class="rec-times">5回記録</span><span class="rec-comp">先月より+3回</span>
                                            </div>
                                            <div class="time-compo">
                                                <span class="time-title">夕薬</span>
                                                <div class="time">
                                                    <span>29</span><span class="times-unit">回</span>
                                                </div>
                                                <span class="rec-times">5回記録</span><span class="rec-comp">先月より+3回</span>
                                            </div>
                                            <div class="time-compo">
                                                <span class="time-title">気分</span>
                                                <div class="time">
                                                    <span>4.2</span>
                                                </div>
                                                <span class="rec-times">5回記録</span><span class="rec-comp">先月より-0.6</span>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="mdl-tabs__panel" id="chart">

                            </div>
                            <div class="mdl-tabs__panel" id="table">

                            </div>
                        </div>
                        <!--<div id="page-load-prg" class="mdl-spinner mdl-js-spinner is-active"></div>-->
                    </div>
                </div>
            </div>

            <% include ../common/_footer.ejs %>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
<script defer src="https://use.fontawesome.com/releases/v5.0.1/js/all.js"></script>
<script src="../dist/bootstrap-notify.min.js"></script>

<script src="https://www.gstatic.com/firebasejs/4.12.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/4.12.0/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/4.12.0/firebase-database.js"></script>

<script src="../dist/common.js"></script>
<script src="app2.js"></script>

<% include ../common/_no_script.ejs %>

</body>
</html>