<!DOCTYPE html>
<html lang="ja">
<head>
    <% include ../common/_head_template.ejs %>

    <!--google material design lite-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>

    <script src="https://cdn.firebase.com/libs/firebaseui/2.5.1/firebaseui.js"></script>
    <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/2.5.1/firebaseui.css" />

    <link href="../dist/common.css" rel="stylesheet">
    <link href="style2.css" rel="stylesheet">
</head>
<body>

<% include ../common/_login_ui.ejs %>

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-layout--fixed-tabs">
    <div id="post_load">

        <!--header-->
        <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

            <header class="mdl-layout__header">
                <div class="mdl-layout__header-row">
                    <span class="mdl-layout-title"><%- title %></span>
                </div>
            </header>

            <div class="mdl-layout__drawer">
                <!--<span class="mdl-layout-title">Title</span>-->
                <header class="demo-drawer-header">
                    <div class="demo-avatar">
                        <img class="rounded-circle">
                    </div>
                    <div class="demo-avatar-dropdown">
                        <div>
                            <span class="user-name"></span>
                            <div class="mdl-layout-spacer"></div>
                            <!--<div class="mdl-layout-spacer"></div>-->
                            <button id="accbtn" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
                                <i class="material-icons" role="presentation">arrow_drop_down</i>
                                <span class="visuallyhidden">Accounts</span>
                            </button>
                            <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="accbtn">
                                <li class="mdl-menu__item" id="dr-header-logout">ログアウト</li>
                            </ul>
                        </div>
                    </div>
                </header>

                <nav class="mdl-navigation">
                    <a class="mdl-navigation__link" href="../record"><i class="fas fa-edit fa-lg drawer_icon"></i>入力</a>
                    <a class="mdl-navigation__link current-page" href="#"><i class="fas fa-table fa-lg drawer_icon"></i>テンプレート</a>
                    <a class="mdl-navigation__link" href="#" id="analytics-link"><i class="fas fa-chart-bar fa-lg drawer_icon"></i>分析</a>
                    <a class="mdl-navigation__link" href="../social"><i class="fas fa-share-alt fa-lg drawer_icon"></i>共有</a>
                    <a class="mdl-navigation__link" href="../config"><i class="fas fa-cog fa-lg drawer_icon"></i>設定</a>
                </nav>
            </div>
        </div>

        <main class="mdl-layout__content">
            <div id="content-w">
                <div id="content-in">
                    <div id="left-col" class="column">
                        <div class="mdl-card mdl-shadow--4dp" id="profile">
                            <div id="color-back">
                                <img class="rounded-circle" src="https://randomuser.me/api/portraits/med/men/77.jpg" alt="my-icon" id="my-icon">
                                <div>
                                    <h5>田村 浩幸</h5>
                                    <span id="my-id">@test</span>
                                </div>
                            </div>
                            <div class="mdl-card__actions mdl-card--border">
                                <div>
                                    <div class="rounded-circle"></div>
                                    <div class="rounded-circle"></div>
                                    <div class="rounded-circle"></div>
                                </div>
                                <button class="mdl-button mdl-js-button mdl-button--icon">
                                    <i class="fas fa-cog fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div id="main-col" class="column">
                        <ul id="groups">
                            <li class="mdl-card">
                                <div class="group-cont">
                                    <img class="group-icon rounded-circle" alt="group-icon" src="../dist/img/icon.png">
                                    <div>
                                        <div class="first-row">
                                            <span class="group-name">グループ_01</span>
                                            <div class="mdl-layout-spacer"></div>
                                            <!--<button class="mdl-button mdl-js-button mdl-button&#45;&#45;icon">-->
                                            <!--<i class="fas fa-user-plus fa-sm"></i>-->
                                            <!--</button>-->
                                            <div class="member-chips">
                                                <img class="mdl-chip__contact" src="https://randomuser.me/api/portraits/med/men/77.jpg">
                                                <img class="mdl-chip__contact" src="https://randomuser.me/api/portraits/med/men/77.jpg">
                                                <img class="mdl-chip__contact" src="https://randomuser.me/api/portraits/med/men/77.jpg">
                                            </div>
                                        </div>
                                        <!--<div class="member-chips">-->
                                        <!--<img class="mdl-chip__contact" src="https://randomuser.me/api/portraits/med/men/77.jpg">-->
                                        <!--<img class="mdl-chip__contact" src="https://randomuser.me/api/portraits/med/men/77.jpg">-->
                                        <!--<img class="mdl-chip__contact" src="https://randomuser.me/api/portraits/med/men/77.jpg">-->
                                        <!--</div>-->
                                    </div>
                                </div>
                                <div class="mdl-card__actions mdl-card--border">
                                    <button class="mdl-button mdl-js-button mdl-button--icon">
                                        <i class="fas fa-cog fa-sm"></i>
                                    </button>
                                    <button class="mdl-button mdl-js-button mdl-button--icon">
                                        <i class="fas fa-user-plus fa-sm"></i>
                                    </button>
                                </div>
                            </li>

                            <li class="mdl-card">
                                <div class="group-cont">
                                    <img class="group-icon rounded-circle" alt="group-icon" src="../dist/img/icon.png">
                                    <div>
                                        <div class="first-row">
                                            <span class="group-name">グループ_01</span>
                                            <div class="mdl-layout-spacer"></div>
                                            <!--<button class="mdl-button mdl-js-button mdl-button&#45;&#45;icon">-->
                                            <!--<i class="fas fa-user-plus fa-sm"></i>-->
                                            <!--</button>-->
                                            <div class="member-chips">
                                                <img class="mdl-chip__contact" src="https://randomuser.me/api/portraits/med/men/77.jpg">
                                                <img class="mdl-chip__contact" src="https://randomuser.me/api/portraits/med/men/77.jpg">
                                                <img class="mdl-chip__contact" src="https://randomuser.me/api/portraits/med/men/77.jpg">
                                            </div>
                                        </div>
                                        <!--<div class="member-chips">-->
                                        <!--<img class="mdl-chip__contact" src="https://randomuser.me/api/portraits/med/men/77.jpg">-->
                                        <!--<img class="mdl-chip__contact" src="https://randomuser.me/api/portraits/med/men/77.jpg">-->
                                        <!--<img class="mdl-chip__contact" src="https://randomuser.me/api/portraits/med/men/77.jpg">-->
                                        <!--</div>-->
                                    </div>
                                </div>
                                <div class="mdl-card__actions mdl-card--border">
                                    <button class="mdl-button mdl-js-button mdl-button--icon">
                                        <i class="fas fa-cog fa-sm"></i>
                                    </button>
                                    <button class="mdl-button mdl-js-button mdl-button--icon">
                                        <i class="fas fa-user-plus fa-sm"></i>
                                    </button>
                                </div>
                            </li>

                            <li class="mdl-card">
                                <div class="group-cont">
                                    <img class="group-icon rounded-circle" alt="group-icon" src="../dist/img/icon.png">
                                    <div>
                                        <div class="first-row">
                                            <span class="group-name">グループ_01</span>
                                            <div class="mdl-layout-spacer"></div>
                                            <!--<button class="mdl-button mdl-js-button mdl-button&#45;&#45;icon">-->
                                            <!--<i class="fas fa-user-plus fa-sm"></i>-->
                                            <!--</button>-->
                                            <div class="member-chips">
                                                <img class="mdl-chip__contact" src="https://randomuser.me/api/portraits/med/men/77.jpg">
                                                <img class="mdl-chip__contact" src="https://randomuser.me/api/portraits/med/men/77.jpg">
                                                <img class="mdl-chip__contact" src="https://randomuser.me/api/portraits/med/men/77.jpg">
                                            </div>
                                        </div>
                                        <!--<div class="member-chips">-->
                                        <!--<img class="mdl-chip__contact" src="https://randomuser.me/api/portraits/med/men/77.jpg">-->
                                        <!--<img class="mdl-chip__contact" src="https://randomuser.me/api/portraits/med/men/77.jpg">-->
                                        <!--<img class="mdl-chip__contact" src="https://randomuser.me/api/portraits/med/men/77.jpg">-->
                                        <!--</div>-->
                                    </div>
                                </div>
                                <div class="mdl-card__actions mdl-card--border">
                                    <button class="mdl-button mdl-js-button mdl-button--icon">
                                        <i class="fas fa-cog fa-sm"></i>
                                    </button>
                                    <button class="mdl-button mdl-js-button mdl-button--icon">
                                        <i class="fas fa-user-plus fa-sm"></i>
                                    </button>
                                </div>
                            </li>
                        </ul>
                        <ul id="users">
                            <li class="mdl-card user-prof">
                                <div id="color-back">
                                    <img class="rounded-circle" src="https://randomuser.me/api/portraits/med/men/77.jpg" alt="my-icon" id="my-icon">
                                    <div>
                                        <h5>田村 浩幸</h5>
                                        <span id="my-id">@test</span>
                                    </div>
                                </div>
                                <div class="mdl-card__actions">
                                    <div>
                                        <div class="rounded-circle"></div>
                                        <div class="rounded-circle"></div>
                                        <div class="rounded-circle"></div>
                                    </div>
                                    <button class="mdl-button mdl-js-button mdl-button--icon">
                                        <i class="fas fa-cog fa-sm"></i>
                                    </button>
                                </div>
                            </li>

                            <li class="mdl-card user-prof">
                                <div id="color-back">
                                    <img class="rounded-circle" src="https://randomuser.me/api/portraits/med/men/77.jpg" alt="my-icon" id="my-icon">
                                    <div>
                                        <h5>田村 浩幸</h5>
                                        <span id="my-id">@test</span>
                                    </div>
                                </div>
                                <div class="mdl-card__actions">
                                    <div>
                                        <div class="rounded-circle"></div>
                                        <div class="rounded-circle"></div>
                                        <div class="rounded-circle"></div>
                                    </div>
                                    <button class="mdl-button mdl-js-button mdl-button--icon">
                                        <i class="fas fa-cog fa-sm"></i>
                                    </button>
                                </div>
                            </li>

                            <li class="mdl-card user-prof">
                                <div id="color-back">
                                    <img class="rounded-circle" src="https://randomuser.me/api/portraits/med/men/77.jpg" alt="my-icon" id="my-icon">
                                    <div>
                                        <h5>田村 浩幸</h5>
                                        <span id="my-id">@test</span>
                                    </div>
                                </div>
                                <div class="mdl-card__actions">
                                    <div>
                                        <div class="rounded-circle"></div>
                                        <div class="rounded-circle"></div>
                                        <div class="rounded-circle"></div>
                                    </div>
                                    <button class="mdl-button mdl-js-button mdl-button--icon">
                                        <i class="fas fa-cog fa-sm"></i>
                                    </button>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <% include ../common/_footer.ejs %>
        </main>
    </div>
</div>

<!-- Bootstrap core JavaScript -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
<script defer src="https://use.fontawesome.com/releases/v5.0.1/js/all.js"></script>
<script src="../dist/bootstrap-notify.min.js"></script>

<script src="https://www.gstatic.com/firebasejs/4.12.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/4.12.0/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/4.12.0/firebase-database.js"></script>

<script src="../dist/common.js"></script>
<script src="../dist/calendar.js"></script>
<script src="app2.js"></script>

<% include ../common/_no_script.ejs %>

</body>
</html>