# Created by .ignore support plugin (hsz.mobi)
/input/vender/
/home/js/creative.min.js
/home/css/creative.css
/input/draglula/
/dist/bootstrap-notify.min.js
/dist/material.css
/dist/bmd/
/dist/jquery-ui/
/dist/mixitup.js
/dist/mixitup.min.js
