# Created by .ignore support plugin (hsz.mobi)
/public/input/vender/
/home/js/creative.min.js
/home/css/creative.css
/public/input/draglula/
/dist/bootstrap-notify.min.js
/dist/material.css
/dist/bmd/
/dist/jquery-ui/
/dist/mixitup.js
/dist/mixitup.min.js
/node_modules/
/package-lock.json
/.idea/
/public/dist/
!/public/dist/recordUtil.js
!/public/dist/common.js
!/public/dist/common.css
/public/vendor/
/firebase-debug.log
!/public/dist/calendar.js
!/public/dist/calendar.css
!/public/dist/custom_calendar.js
!/public/dist/custom_calendar.css
