$primaryColor: #E57C3E;
$textDefColor: rgba(0, 0, 0, .87);//MDL準拠
$textExtraColor: rgba(0,0,0,.54);//MDL準拠
$columnPadding: 24px;

body {
  background-color: #F4F3EF;
}

.mdl-layout__drawer-button i{
  color: #f4cab1;
}

.mdl-layout__header {
  background: #524b4b;
  color: white;
}

.mdl-layout__content {
  width: 100%;
  margin-top: 72px;
}

#content-in {
  padding-top: 48px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

#main-col {
  width: 612px + $columnPadding;
}

#left-cal, #right-col {
  width: 300px;
}

.column {
  padding: $columnPadding;
}

.card-item {
  width: unset;
  margin-top: 16px;
}

#record-card {
  margin: 0;
  #record-img {
    height: 300px;
    position: relative;
    background: rgba(0,0,0,.1);

    .title-w {
      margin: 16px;
      h5 {
        margin: 0;
      }
    }
    .mdl-card__supporting-text {
      position: absolute;
      right: 0;
      bottom: 0;
      text-align: right;
      width: 100%;//mdl default 90%
      #action_val {
        & :hover{
          color: $primaryColor;
          cursor: pointer;
        }
        a {
          color: $textExtraColor;
          text-decoration: none;
        }
        a:first-child {
          span {
            padding-right: 6px;
          }
        }
      }
    }
  }

  #bottom-table-w {
    table {
      width: 100%;
      table-layout: fixed;
      text-align: left;
      > thead {
        font-size: 13px;
      }
      > tbody {
        font-size: 20px;
      }
      td {
        border-left: $primaryColor solid 2px;
        padding: 0 6px;
      }
    }
    padding: 16px 32px;
  }
}

#right-col {
  #card-calendar {
    margin-top: 0;
  }
  .right-card {
    margin: 16px 0;
    .list-card__header {
      position: relative;
      padding: 16px 16px 0 16px;
      font-size: 18px;
      color: $textDefColor;
      .list-card__title {
        display: inline-block;
        height: 32px;
        vertical-align: middle;
        .list-card__icon {
          color: $primaryColor;
          margin-right: 16px;
        }
      }
      .list-card__conf {
        position: absolute;
        font-size: inherit;
        color: $textExtraColor;
        top: 11px;
        right: 11px;
      }
    }
    .list-card__ul {
      margin: 0;
      padding: 0 8px;
      .config {
        font-size: 18px;
        color: $textExtraColor;
      }
    }
    .list-drop-btn {
      margin: 0 auto;
      color: $textExtraColor;
      font-size: inherit;
      height: 28px;
      width: 28px;
      min-width: 28px;
    }
  }
}

#group-act-list {
  margin-top: 72px;
  .mdl-list {
    margin: 0;
    padding: 0;
    .mdl-list__item {
      padding: 24px 32px 0 32px;
    }
  }
  .member-chips {
    margin-left: 88px;
  }
  .mdl-chip {
    margin: 2px 6px;
  }
}

//#left-cal {
//  #card-profile {
//    width: 248px;
//    min-width: unset;
//  }
//}