#google_play_btn {
    width: 230px;
    margin-top: 20px;
}

#login_title{
    margin-bottom: 30px;
    /*color: #f05f40;*/
}

#login_hr{
    margin-bottom: 60px;
}

#portfolio {
    background-color: #f48f79;
}

#mainNav .navbar-brand {
    text-transform: none;
}

hr {
    display: block;
    height: unset;
    border-width: 3px;
    border-color: #f05f40;
    margin: 0 auto;
    padding: unset;
}

.mdl-mini-footer {
    background: none;
}

#firebaseui-wrapper {
    flex-wrap: wrap;
    justify-content: center;
    display: block;
}

#firebaseui-wrapper[min-width~="690px"] {
    flex-wrap: nowrap;
    display: flex;
}

#firebase-register .mdl-button{
    background: #db4437;
    color: white;
    padding: 12px 20px;
    /*font-size: 18px;*/
}

#firebase-register .firebaseui-idp-text {
    /*font-size: 18px;*/
}

#firebase-register {
    display: flex;
    align-items: center;
    padding: 0 36px 0 0;
    width: min-content;
    margin: 0 auto;
}

#firebaseui-wrapper[min-width~="690px"] #firebase-register {
    margin: 0;
}

#firebase-register ul {
    padding-left: 0;
    list-style-type: none;
}

.firebaseui-card-content {
    padding: 0;
}

#auth-cont-w {
    width: 312px;
    margin: 0 auto;
}

#firebaseui-wrapper[min-width~="690px"] #auth-cont-w {
    margin: 0;
}

#about {
    background-color: #F4F3EF;;
}

.firebaseui-idp-button {
    max-width: 240px;
}

/************ SignUp動作 ************/

#btn_wrapper {
    width: fit-content;
    margin: 0 auto;
}

#sign_up {
    padding-left: 28px;
}

.sign_up_txt {
    padding: 0;
}

.mdl-textfield {
    padding: 20px 0 15px 0;
    width: 240px;
}

.mdl-textfield__label:after{
    bottom: 15px;
}

.mdl-textfield__input {
    padding: 4px 0 0 0;
}

#vert_seem {
    text-align: center;
    position: relative;
    width: 132px;
    min-height: 72px;
    margin: 0 auto;
}

#firebaseui-wrapper[min-width~="690px"] #vert_seem {
    flex-wrap: nowrap;
    display: flex;
    margin: 0 -24px;
}

#vert_seem p {
    position: absolute;
    top: 50%;
    left: 50%;
    width: inherit;
    text-align: center;
    -ms-transform: translateY(-50%) translateX(-50%);
    -webkit-transform : translateY(-50%) translateX(-50%);
    transform : translateY(-50%) translateX(-50%);
    font-size: 1.6rem;
    padding: 36px 0;
    color: #db4437;
}

#vert_seem[min-width~="690px"] {
    position: relative;
}

#auth-cont-w p {
    padding: 8px 32px 0 32px;
}

.sign-up-title {
    font-size: 1.4rem;
}

#firebaseui-auth-container{
    padding-top: 20px;
    width: 312px;/*これ固定で大丈夫 firebase ui準拠*/
    height: 254px;/*これ固定で大丈夫firebase ui準拠*/
}