<div class="mdl-layout__drawer">
    <header class="demo-drawer-header">
        <div class="demo-avatar">
            <img class="rounded-circle" alt="user-img">
        </div>
        <div class="demo-avatar-dropdown">
            <div>
                <span class="user-name"></span>
                <div class="mdl-layout-spacer"></div>
                <!--<div class="mdl-layout-spacer"></div>-->
                <button id="accbtn" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
                    <i class="material-icons" role="presentation">arrow_drop_down</i>
                    <span class="visuallyhidden">Accounts</span>
                </button>
                <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="accbtn">
                    <li class="mdl-menu__item" id="dr-header-logout">ログアウト</li>
                </ul>
            </div>
        </div>
    </header>

    <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="../record"><i class="fas fa-edit fa-lg drawer_icon"></i>入力</a>
        <a class="mdl-navigation__link" href="../analytics"><i class="fas fa-chart-bar fa-lg drawer_icon"></i>分析</a>
        <a class="mdl-navigation__link" href="../social"><i class="fas fa-share-alt fa-lg drawer_icon"></i>共有</a>
        <a class="mdl-navigation__link" href="../config"><i class="fas fa-cog fa-lg drawer_icon"></i>設定</a>
    </nav>
</div>