<footer class="mdl-mega-footer">
    <div class="mdl-mega-footer__middle-section" id="footer-in">
        <div class="mdl-mega-footer--left-section footer-column">
            <ul class="mdl-mega-footer__link-list" id="about-us">
                <li><a href="#">お問い合わせ</a></li>
                <li><a href="#">免責事項</a></li>
                <li><a href="#">プライバシーポリシー</a></li>
                <li class="mdl-mega-footer__heading" id="add-dev-btn"><a href="#">開発に参加する</a></li>
            </ul>
        </div>
        <div class="footer-column" id="footer-logo__out">
            <!--<img common="../dist/img/icon.png" alt="logo" href="#">-->
            <button class="mdl-button mdl-js-button mdl-button--icon" href="#">
                <i class="fab fa-twitter fa-sm"></i>
            </button>
            <button class="mdl-button mdl-js-button mdl-button--icon" href="#">
                <i class="fab fa-facebook-f fa-sm"></i>
            </button>
            <button class="mdl-button mdl-js-button mdl-button--icon" href="#">
                <i class="fas fa-comment fa-sm" id="line-btn"></i>
            </button>
            <button class="mdl-button mdl-js-button mdl-button--icon" href="#">
                <i class="fab fa-github"></i>
            </button>
        </div>
        <div class="mdl-mega-footer__right-section">
            <ul id="footer-col-right">
                <li id="footer-col-right-li-badge">
                    <a href="https://play.google.com/apps/publish/?hl=JA&account=6607082431985270443#AppDashboardPlace:p=com.cks.hiroyuki2.worksupport3&appid=4973068599479948784" target="_blank" id="google-play-badge">
                        <img src="../dist/img/google-play-badge.png" alt="google-play-badge">
                    </a>
                </li>
                <li>ChallengedKit(β) All Rights Reserved.</li>
            </ul>
        </div>
    </div>
</footer>