<div id="progress" class="mdl-spinner mdl-js-spinner is-active"></div>

<div id="login_w">
    <div class="mdl-grid" id="login-grid">
        <div class="mdl-cell mdl-cell--4-col"></div>
        <div class="mdl-cell mdl-cell--4-col">
            <img id="login-logo" src="../dist/img/icon.png">
        </div>
        <div class="mdl-cell mdl-cell--4-col"></div>
    </div>
    <h2 id="login_title">ChallengedKit(β)</h2>
    <div id="firebaseui-auth-container"></div>
</div>