@charset "utf-8";

@import "../common/variable";

$columnPadding: 24px;

body {
  background-color: $bodyColor;
}

.mdl-layout__drawer-button i{
  color: #f4cab1;
}

.mdl-layout__header {
  background: #524b4b;
  color: white;
}

.mdl-layout__content {
  width: 100%;
  margin-top: 72px;
}