@charset "utf-8";

@import "../common/variable";

$columnPadding: 24px;

body {
  background-color: $bodyColor;
}

.mdl-layout__drawer-button i{
  color: #f4cab1;
}

.mdl-layout__header {
  background: #524b4b;
  color: white;
}

.mdl-layout__content {
  width: 100%;
  margin-top: 72px;
}

#wrapper {
  margin: 24px 0 128px 0;
  #page-header {
    max-width: $pageMaxWidth;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: center;

    #header-center {
      display: flex;
      align-items: center;
      flex-wrap: nowrap;
      button {
        color: $primaryColor;
      }
      h1 {
        margin: 0 16px;
        font-size: 32px;
      }
    }

    #toggle {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 36px;
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      margin-left: 32px;
      float: left;
      > span {
        padding: 0 8px;
        font-size: 14px;
        white-space: nowrap;
        text-align: center;
        color: $textExtraColor;
        &.is-active {
          color: $textDefColor;
        }
      }
      >.mdl-switch {
        padding-left: 28px;
        >.mdl-switch__track {
          width: 28px;
        }
        >.mdl-switch__thumb {
          height: 16px;
          width: 16px;
          top: 4px;
        }
        >.mdl-js-ripple-effect {
          width: 40px;
          height: 40px;
          top: -8px;
          left: -13px;
        }
        &.is-checked >.mdl-switch__thumb {
          left: 14px;
        }
      }
    }

    //region toggle on/off switch
    //@see http://localhost:63342/ChallengedKit/public/dist/bootstrap-button-toggle-on-off-switch/index.html?_ijt=o6qnfqohftcj7p1u67dhrn8gfg
    //#toggle {
    //  .btn-toggle {
    //    top: 50%;
    //    transform: translateY(-50%);
    //    margin: 0 4rem;
    //    padding: 0;
    //    position: relative;
    //    border: none;
    //    height: 1.5rem;
    //    width: 3rem;
    //    border-radius: 1.5rem;
    //    color: #6b7381;
    //    background: $primaryColor;
    //
    //    &:focus, &.focus, &:focus.active, &.focus.active {
    //      outline: none;
    //    }
    //    &:before, &:after {
    //      line-height: 1.5rem;
    //      width: 4rem;
    //      text-align: center;
    //      font-weight: 600;
    //      font-size: 0.75rem;
    //      text-transform: uppercase;
    //      letter-spacing: 2px;
    //      position: absolute;
    //      bottom: 0;
    //      transition: opacity .25s;
    //    }
    //    &:before {
    //      content: 'Off';
    //      left: -4rem;
    //    }
    //    &:after {
    //      content: 'On';
    //      right: -4rem;
    //      opacity: .5;
    //    }
    //    > .handle {
    //      position: absolute;
    //      top: 0.1875rem;
    //      left: 0.1875rem;
    //      width: 1.125rem;
    //      height: 1.125rem;
    //      border-radius: 1.125rem;
    //      background: #fff;
    //      transition: left .25s;
    //    }
    //    &.active {
    //      transition: background-color 0.25s;
    //    }
    //    &.active > .handle {
    //      left: 1.6875rem;
    //      transition: left .25s;
    //    }
    //    &.active:before {
    //      opacity: .5;
    //    }
    //    &.active:after {
    //      opacity: 1;
    //    }
    //  }
    //}
    //endregion
  }

  #cont {
    #canvas-w {
      width: 100%;
      height: 300px;//todo これ暫定 のち修正のこと
    }
    #table-w {
      padding: 72px;
      width: 100%;
      >div {
        width: 100%;
        table {
          font-size: 16px;
          thead {
            background: $headerColor;
            border-bottom: 8px solid $headerColor;
            color: white;
            tr {
              border-top: 8px solid $headerColor;
              td {
                text-align: center;
                padding: 0 2em;
                vertical-align: middle;
                white-space: nowrap;
                &#left-top {
                  line-height: 0;
                }
              }
            }
          }
          tbody {
            tr {
              &:nth-child(2n) {
                background: $tableRowColor;
              }
              &:nth-child(2n+1) {
                background: white;
              }
            }
          }
          tbody td, tfoot td {
            vertical-align: middle;
            padding: 8px 2em;
            &.type-check {
              .fa-check-circle {
                color: $primaryColor;
              }
              .fa-minus {
                color: $textExtraColor;
              }
            }
            &.params {
              text-align: center;
            }
            &.tags {
              white-space: nowrap;
              .mdl-chip__text {
                font-size: 14px;
                margin-right: 4px;
              }
            }
          }
          tfoot {
            tr#spacer-tr {
              visibility: hidden;
            }
            tr#extra-tr {
              background: white;
              .params {
                color: $textDefColor;
                text-align: right;
                .caption {
                  font-size: 13px;
                  white-space: nowrap;
                  line-height: 1;
                }
                .value {
                  font-size: 16px;
                  line-height: 18px;
                  white-space: nowrap;
                }
              }
            }
          }
        }
      }
    }
  }
}