@charset "utf-8";

@import "../common/variable";

$columnPadding: 24px;

body {
  background-color: $bodyColor;
}

.mdl-layout__drawer-button i{
  color: #f4cab1;
}

.mdl-layout__header {
  background: #524b4b;
  color: white;
}

.mdl-layout__content {
  width: 100%;
  margin-top: 72px;
}

#content-in {
  padding-top: 48px;
  display: flex;
  justify-content: center;
}

#main-col {
  width: 712px + $columnPadding;
}

//#left-cal, #right-col {
//  width: 300px;
//}

.column {
  padding: $columnPadding;
}

.card-item {
  width: unset;
  margin-top: 16px;
}

#record-card {
  margin: 0;
  #record-img {
    height: 300px;
    position: relative;
    background: rgba(0,0,0,.1);

    .title-w {
      margin: 16px;
      h5 {
        margin: 0;
      }
    }
    .mdl-card__supporting-text {
      position: absolute;
      right: 0;
      bottom: 0;
      text-align: right;
      width: 100%;//mdl default 90%
      #action_val {
        & :hover{
          color: $primaryColor;
          cursor: pointer;
        }
        a {
          color: $textExtraColor;
          text-decoration: none;
          padding-left: 3px;
        }
        a:first-child {
          span {
            padding-right: 6px;
          }
        }
      }
    }
  }

  #bottom-table-w {
    table {
      width: 100%;
      table-layout: fixed;
      text-align: left;
      > thead {
        font-size: 13px;
      }
      > tbody {
        font-size: 20px;
      }
      td {
        border-left: $primaryColor solid 2px;
        padding: 0 6px;
      }
    }
    padding: 16px 32px;
  }
}

#right-col {
  #card-calendar {
    margin-top: 0;
  }
  .right-card {
    margin: 16px 0;
    .list-card__header {
      position: relative;
      padding: 16px 16px 0 16px;
      font-size: 18px;
      color: $textDefColor;
      .list-card__title {
        display: inline-block;
        height: 32px;
        vertical-align: middle;
        .list-card__icon {
          color: $primaryColor;
          margin-right: 16px;
        }
      }
      .list-card__conf {
        position: absolute;
        font-size: inherit;
        color: $textExtraColor;
        top: 11px;
        right: 11px;
      }
    }
    .list-card__ul {
      margin: 0;
      padding: 0 8px;
      .config {
        font-size: 18px;
        color: $textExtraColor;
      }
    }
    .list-drop-btn {
      margin: 0 auto;
      color: $textExtraColor;
      font-size: inherit;
      height: 28px;
      width: 28px;
      min-width: 28px;
    }
  }
}

#group-act-list {
  margin-top: 72px;

  #sample {
    width: unset;
    margin-top: 36px;

    .group-act__header {
      display: flex;
      align-items: start;
      padding: 24px 40px;
      .group-act__icon {
        width: 40px;
        height: 40px;
        margin-right: 16px;
      }
      >div {
        flex-grow: 10;
        >h5 {
          margin: 8px 0;
        }
        .member-chips .mdl-chip__contact {
          width: 28px;
          height: 28px;
        }
      }
    }

    .group-log {
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        > li {
          border-top: $bodyColor solid 1px;
          > .log-time {
            height: 24px;
            padding-right: 12px;
            color: $textExtraColor;
            font-size: 14px;
            text-align: right;
            vertical-align: middle;
          }
          > .log-cont-w {
            padding: 0 40px 24px 40px;
            display: flex;
            align-items: flex-start;
            .log-icon {
              position: relative;
              width: 32px;
              height: 32px;
              background: $primaryColor;
              > .fa-reply, > .fa-file-alt {
                position: absolute;
                display: block;
                top: 50%;
                left: 50%;
                transform: translateX(-50%) translateY(-50%);
                color: white;
              }
            }
            .log-cont {
              padding-left: 40px;
              flex-grow: 10;
              color: $textExtraColor;
              font-size: 16px;
              line-height: 28px;
              .sbj-icon {
                width: 28px;
                height: 28px;
                margin-right: 8px;
                &:not(:first-child) {
                  margin-left: 8px;
                }
              }
              .sbj-name, .obj-name {
                color: $textDefColor;
              }
            }
          }
        }
      }
    }
  }

  .card-item-group {
    width: unset;
    margin-top: 36px;

    .group-act__header {
      .mdl-list {
        margin: 0;
        padding: 0;
        .mdl-list__item {
          padding: 28px 40px 0 40px;
          .mdl-list__item-primary-content {
            .group-act__icon {
              width: 48px;
              height: 48px;
              margin-right: 24px;
            }
          }
          .mdl-chip__contact {
            margin-left: 8px;
            margin-right: 0;//MDL打ち消し
          }
        }
      }
    }

    .group-log {
      padding: 32px;//todo これ他とまとめられる
      table{
        width: 100%;
        tbody {
          tr {
            border: none;
            border-collapse: collapse;
            td.group-log__time {
              color: $textDefColor;
              text-align: right;
              font-size: 15px;
              line-height: 15px;
              width: 80px;
            }
            td.group_log__vert {
              padding: 0;
              width: 48px;
              height: 72px;
              div {
                width: 100%;
                height: 100%;
                position: relative;
                .vert-line {
                  width: 2px;
                  height: 100%;
                  background-color: gray;//変更する？
                  margin: 0 23px;
                  position: absolute;
                }
                .rounded-circle {
                  height: 16px;
                  width: 16px;
                  border: gray solid 2px;
                  position: absolute;
                  background: white;
                  top: 50%;
                  left: 50%;
                  transform: translateX(-50%) translateY(-50%);
                }
              }
            }
            td.group-log__txt {
              .mdl-list {
                width: 100%;
                border-radius: 8px;
                border: $lineColor solid 1px;
                padding: 8px 12px;
                min-height: 48px;
                margin: 8px 0;
                .mdl-list__item--two-line {
                  height: unset;
                }
                .mdl-list__item{
                  padding: 0;
                  .mdl-list__item-primary-content {
                    height: unset;
                  }
                  .mdl-list__item-avatar {
                    width: 28px;
                    height: 28px;
                  }
                }
                .mdl-list__item.posted-user {
                  min-height: unset;
                  padding: 4px 20px;
                }
                .mdl-list__item-secondary-content {
                  img {
                    background: gray;
                    width: 28px;
                    height: 28px;
                  }
                }
              }
            }
          }
        }
      }
    }
    .member-chips {
      margin-left: 88px;
    }
  }
}