<nav class="mdl-navigation">
    <a class="mdl-navigation__link" href="../record"><i class="fas fa-edit fa-lg drawer_icon"></i>入力</a>
    <a class="mdl-navigation__link" href="../analytics"><i class="fas fa-chart-bar fa-lg drawer_icon"></i>分析</a>
    <a class="mdl-navigation__link current-page" href="#"><i class="fas fa-share-alt fa-lg drawer_icon"></i>共有</a>
    <a class="mdl-navigation__link" href="../config"><i class="fas fa-cog fa-lg drawer_icon"></i>設定</a>
</nav>