body {
  background-color: #F4F3EF; }

.mdl-layout__drawer-button i {
  color: #f4cab1; }

.mdl-layout__header {
  background: #524b4b;
  color: white; }

.mdl-layout__content {
  width: 100%;
  margin-top: 72px; }

#wrapper {
  margin: 24px 0 128px 0; }
  #wrapper #page-header {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
    #wrapper #page-header #header-center {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap; }
      #wrapper #page-header #header-center button {
        color: #E57C3E; }
      #wrapper #page-header #header-center h1 {
        margin: 0 16px;
        font-size: 32px; }
    #wrapper #page-header #toggle {
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      right: 36px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      margin-left: 32px;
      float: left; }
      #wrapper #page-header #toggle > span {
        padding: 0 8px;
        font-size: 14px;
        white-space: nowrap;
        text-align: center;
        color: rgba(0, 0, 0, 0.54); }
        #wrapper #page-header #toggle > span.is-active {
          color: rgba(0, 0, 0, 0.87); }
      #wrapper #page-header #toggle > .mdl-switch {
        padding-left: 28px; }
        #wrapper #page-header #toggle > .mdl-switch > .mdl-switch__track {
          width: 28px; }
        #wrapper #page-header #toggle > .mdl-switch > .mdl-switch__thumb {
          height: 16px;
          width: 16px;
          top: 4px; }
        #wrapper #page-header #toggle > .mdl-switch > .mdl-js-ripple-effect {
          width: 40px;
          height: 40px;
          top: -8px;
          left: -13px; }
        #wrapper #page-header #toggle > .mdl-switch.is-checked > .mdl-switch__thumb {
          left: 14px; }
  #wrapper #cont #canvas-w {
    width: 100%;
    height: 300px; }
  #wrapper #cont #table-w {
    padding: 72px;
    width: 100%; }
    #wrapper #cont #table-w > div {
      width: 100%; }
      #wrapper #cont #table-w > div table {
        font-size: 16px; }
        #wrapper #cont #table-w > div table thead {
          background: #524b4b;
          border-bottom: 8px solid #524b4b;
          color: white; }
          #wrapper #cont #table-w > div table thead tr {
            border-top: 8px solid #524b4b; }
            #wrapper #cont #table-w > div table thead tr td {
              text-align: center;
              padding: 0 2em;
              vertical-align: middle;
              white-space: nowrap; }
              #wrapper #cont #table-w > div table thead tr td#left-top {
                line-height: 0; }
        #wrapper #cont #table-w > div table tbody tr:nth-child(2n) {
          background: #fafaf8; }
        #wrapper #cont #table-w > div table tbody tr:nth-child(2n+1) {
          background: white; }
        #wrapper #cont #table-w > div table tbody td, #wrapper #cont #table-w > div table tfoot td {
          vertical-align: middle;
          padding: 8px 2em; }
          #wrapper #cont #table-w > div table tbody td.type-check .fa-check-circle, #wrapper #cont #table-w > div table tfoot td.type-check .fa-check-circle {
            color: #E57C3E; }
          #wrapper #cont #table-w > div table tbody td.type-check .fa-minus, #wrapper #cont #table-w > div table tfoot td.type-check .fa-minus {
            color: rgba(0, 0, 0, 0.54); }
          #wrapper #cont #table-w > div table tbody td.params, #wrapper #cont #table-w > div table tfoot td.params {
            text-align: center; }
          #wrapper #cont #table-w > div table tbody td.tags, #wrapper #cont #table-w > div table tfoot td.tags {
            white-space: nowrap; }
            #wrapper #cont #table-w > div table tbody td.tags .mdl-chip__text, #wrapper #cont #table-w > div table tfoot td.tags .mdl-chip__text {
              font-size: 14px;
              margin-right: 4px; }
        #wrapper #cont #table-w > div table tfoot tr#spacer-tr {
          visibility: hidden; }
        #wrapper #cont #table-w > div table tfoot tr#extra-tr {
          background: white; }
          #wrapper #cont #table-w > div table tfoot tr#extra-tr .params {
            color: rgba(0, 0, 0, 0.87);
            text-align: right; }
            #wrapper #cont #table-w > div table tfoot tr#extra-tr .params .caption {
              font-size: 13px;
              white-space: nowrap;
              line-height: 1; }
            #wrapper #cont #table-w > div table tfoot tr#extra-tr .params .value {
              font-size: 16px;
              line-height: 18px;
              white-space: nowrap; }
