body {
    overflow-x: auto;
    background-color: #F4F3EF;
}

/*************nav bar***************/
.mdl-layout__drawer-button i{
    color: #f4cab1;
}

.mdl-layout__header {
    background: #524b4b;
    color: white;
}

.mdl-layout__tab{
    background-color: white;
}

.mdl-layout__header-row{
    /*padding-right: 20px;*/
    /*margin-left: -16px;*/
}

#group-img {
    height: 36px;
    width: 36px;
    border-radius: 50%;
    margin-right: 20px;
}

#group-drp-btn {
    margin-left: 12px;
}

#setting-drp-btn .fa-cogs{
    color: white;
}

#nav-right {
    padding-right: 16px;
}

#setting-dp-ul {
    display: none;
}

/*----------------ユーザリストドロップダウン------------------*/
.dropdown-toggle::after {
    display:none
}

.dropdown-toggle {
    border: none;
    cursor: pointer;
    padding: .5rem;
    width: 32px;
    height: 32px;
    font-size: 16px;
    color: #BCBCBC;
}

.dropdown-menu {
    z-index: 4;
    width: fit-content;
}

.dropdown-item {
    cursor: pointer;
}

.user-list .mdl-list__item {
    overflow: visible;
}

/*------------frame work---------------*/
#wrapper {
    margin: 0 auto;
    max-width: 1100px;
    min-width: 600px;
}

.mdl-list__item-primary-content span {
    cursor: text;
}

#column2 {

}

/*------------Card Header--------------*/
.card {
    margin: 10px 20px;
    border: 0;
    border-radius: 10px;
    box-shadow: 0 2px 2px rgba(204, 197, 185, 0.5);
    max-width: 1000px;/*イベントのカードの横幅default値*/
}

.average{
    color: #66615b;
    font-size: 20px;
    margin: 0;
}

.ele_header {
    padding: 10px 16px 6px 16px;
    vertical-align: middle;
    display: flex;
    align-items: center;
    height: 42px;
}

#column2 .ele_header .fa-lg {
    color: #E57C3E;
}

.card.comments .ele_header .fa-comments {
    color: #E57C3E;
}

.ele_header_button {
    float: right;
    color: #BCBCBC;
    font-size: 16px;
}

/*これはユーザのヘッダの設定だけど、一応ここに書いてる。*/
#member_conf {
    color: #BCBCBC;
}

.event_title {
    font-size: 16px;
    margin: 0 16px 0 8px;
}

.file .ele-icon {
    color: #66615b;
}

.file .user-icon {
    height: 32px;
    width: 24px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.seem {
    margin: 0;
    background-color: #F4F3EF;
    border: 0;
}

.flex-box {
    display: -webkit-flex; /* Safari */
    display: flex;
    -webkit-flex-wrap: wrap; /* Safari */
    flex-wrap:         wrap;
}

/*----------user--------------*/

.user-image-i{
    height: 100px;
    width: 100%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.user-img-w{
    margin: 16px 24px 0 24px;
    width: 100px;
}

/*.user-name {*/
    /*margin: 12px 0;*/
    /*color: #757575;*/
    /*width: 100%;*/
    /*text-align: center;*/
/*}*/

.user-image{
    height: 100px;
    width: 100%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    min-height: 0;
}

.members .card-cont {
    margin: 8px 0 0 0;
}

.expand-footer {
    width: 100%;
}

.expand-footer .mdl-button {
    width: 100%;
    border-radius: 0 0 10px 10px;
}

.expand-footer .fa-caret-down {
    color: #66615b;
}

.user-list .mdl-chip {
    margin-top: 0;
}

.config{
    color: #BCBCBC;
}

.config :hover {
    color: #E57C3E;
    cursor: pointer;
}

/*---------user ver.2----------*/
.average{
    color: #66615b;
    font-size: 20px;
    margin: 0 0 8px 0;
    vertical-align: middle;
}

.card.user-list img{
    width: 40px;
    height: 40px;
    margin-right: 24px;
    border-radius: 50%;
}

.card.user-list {
    flex: border-box;
    /*min-width: 256px;*/
    width: 420px;
    margin-right: 8px;
    margin-left: 8px;
}

.card.user-list .mdl-list__item-secondary-action {
    margin-left: 24px;
}

.card.user-list .mdl-button {
    color: #66615b;
}

.card.user-list .health-rec-btn i {
    font-size: 16px;
}

.card.user-list .health-rec-btn, .show-file{
    cursor: pointer;
    color: white;
    background-color: #E57C3E;
}

.card.user-list .invited {
    color: white;
    background-color: #894a25;
}

/*--------------ディスカッション------------*/
.comments .card-cont {

}

.comment-first img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.comment-follow img{
    height: 32px;
    width: 32px;
    border-radius: 50%;
}

.comment-follow .author-right{
    /*margin-left: 16px;*/
    margin-right: 16px;
}

.comment-follow .author-left {
    margin-right: 16px;
}

.comment-first .mdl-list__item--two-line .mdl-list__item-primary-content .mdl-list__item-icon {
    margin-top: 0;
}

.comment-first .mdl-list__item {
    padding: 0;
}

.comment-first ul {
    margin-bottom: 0;
}

.comment-first {
    padding-bottom: 16px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.comment-first .comment-cont p, .comment-follow .comment-cont p {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 8px;
}

.comment-follow .comment-cont p {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 8px;
}

.comment-first .comment-cont {
    margin-top: 8px;
}

.comment-follow .comment-cont {
    margin-top: 20px;
}

.comment-follow {
    padding: 24px 96px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.comment-follow.flex-box {
    flex-wrap: nowrap;
}

.comment-first .comment-author {
    margin: 0;
    font-size: 16px;
}

.comment-follow .comment-author {
    margin: 0;
    font-size: 14px;
    line-height: 20px;
}

.comment-follow .comment-time {
    margin: 0;
    font-size: 13px;
    line-height: 18px;
}

.comment-follow header {
    flex-wrap: nowrap;
    align-items: center;
}

/*.comment-follow.author-right header {*/
    /*-webkit-flex-direction: row-reverse; !* Safari *!*/
    /*flex-direction:         row-reverse;*/
/*}*/

.author-right{
    /*-webkit-flex-direction: row-reverse; !* Safari *!*/
    /*flex-direction:         row-reverse;*/
    background-color: #FFFCF5;
}

/*.comment-first.author-right {*/
    /*-webkit-flex-direction: row-reverse; !* Safari *!*/
    /*flex-direction:         row-reverse;*/
    /*background-color: #FFFCF5;*/
/*}*/

/*.ele_header.author-right {*/
    /*background-color: #FFFCF5;*/
/*}*/

.comment-follow .comment-time {
    color: rgba(0,0,0,.54);
}

/*.comment-follow.author-right .comment-cont{*/
    /*-webkit-flex-direction: row-reverse; !* Safari *!*/
    /*flex-direction:         row-reverse;*/
/*}*/

.space-horizontal {
    padding-right: 24px;
    padding-left: 24px;
}

.add-comment {
    display: flex;
    justify-content: center;
    color: #BCBCBC;
    margin: 8px 0;
}

/*-----------ファイル-------------*/
.file {
    flex-direction: row;
    flex-wrap: nowrap;
    display: block;
}

.file-icon {
    display: block;
    margin: 8px 24px 0 24px;
    width: 40px;
    height: 40px;
}

.file .mdl-list {
    flex: 1;
}

.file .mdl-list__item-primary-content {
    height: auto;
}

.file .mdl-list__item-sub-title {
    margin-top: 4px;
}

.show-img{
    height: 400px;
    width: 100%;
    background-color: rgba(0, 0, 0, .3);
    border: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
}

.show-img img {
    height: 400px;
    width: 400px;
    margin: 0 auto;
    display: block;
    object-fit: contain;
}

.file .ele_header {
    padding-bottom: 0;
}

.file li {
    padding: 0 32px 8px 16px;
    height: auto;
}

.file ul {
    margin-bottom: 16px;
}

.file .event_title {
    font-size: 14px;
    color: rgba(0,0,0,.54);
}

.file-wrapper {
    margin-top: 8px;
}

.error-icon {
    color: #E57C3E;
}

/*--------dialog------------*/
.mdl-dialog__title {
    font-size: 14px;
    color: #757575;
}

#dialog-img-w {
    width: 100%;
    text-align: center;
    object-fit: contain;
}

.mdl-dialog__content img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}

.mdl-dialog__content h4 {
    font-size: 18px;
    margin: 8px 0 8px 0;
    color: black;
}

.mdl-dialog {
    min-width: 280px;
    max-width: 80%;
    width: fit-content;
}

#circle1{
    color: #C0504D;
}

#circle2{
    color: #9BBB59;
}

#circle3{
    color: #1F497D;
}

#circle4 {
    color: #8064A2;
}

#modal-circle-w {
    vertical-align: middle;
}
#modal_input, #edit-comment-dialog{
    font-size: 14px;
}

.modal-circle-w{
    cursor: pointer;
    margin-left: 24px;
}

/*override*/
#modal-circle-w1 {
    margin-left: 0;
}

.modal_row {
    margin-top: 16px;
}

.modal-circle-i{
    font-size: 24px;
    vertical-align: middle;
    text-align: center;
}

.modal-circle-check {
    font-size: 24px;
    color: white;
    text-align: center;
    display: none;
}

.show {
    display: inline;
}

/*--------modal グループ変更--------*/
#group-config .mdl-list__item-primary-content img{
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.group-icon > div {
    position: absolute;
    width: 22px;
    height: 22px;
    background: #E57C3E;
    bottom: 24px;
    right: 0;
    vertical-align: center;
    text-align: center;
}

.group-icon {
    width: 60px;
    height: 84px;
    position: relative;
    margin: 0 auto;
    cursor: pointer;
    padding-bottom: 24px;
}

.group-icon .fa-folder {
    color: white;
}

.group-icon input {
    display: none;
}

/*--------------ファイル追加----------------*/
/*#add-file-modal .mdl-button{*/
    /*background-color: #E57C3E;*/
    /*margin: 0 auto 32px auto;*/
    /*color: white;*/
    /*display: block;*/
/*}*/

.drop-space {
    margin-bottom: 16px;
    height: 256px;
    background-color: #FFFCF5;
    outline: 2px dashed #92b0b3;
    outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear;
    display: flex;
    justify-content: center;
    align-content: center;
}

.drop-space > .drag-cont {
    text-align: center;
    z-index: 4;
    color: darkgray;
    margin: auto;
}

.drop-space.is-uploading .drag-cont{
    display: none;
}

.drop-space.is-uploaded .drag-cont{
    display: none;
}

.progress {
    margin: auto 0;
    width: 100%;
    background: transparent;
}

.progress .mdl-progress {
    max-width: 60%;
    margin: 0 auto;
    width: unset;
}

.drop-space .progress{
    display: none;
}

.drop-space.is-uploading .progress{
    display: block;
}

.drop-space i {
    font-size: 48px;
}

.choose-file {
    margin: 0 auto 8px auto;
    display: block;
    color: #E57C3E;
}

.is-dragover {
    outline-offset: -20px;
    outline-color: #c8dadf;
    background-color: #fff;
}

.box__success img {
    border-radius: unset;
    margin: 0 auto 16px auto;
    display: block;
}

.box__success {
    margin: auto;
    padding: 16px;
}

.box__success p {
    text-align: center;
    margin: 0;
}

.box__success .file-name {
    margin-bottom: 24px;
}

.box__success {
    display: none;
}

.drop-space.is-uploaded .box__success{
    display: block;
}

/*------------ドキュメント追加-------------*/
.modal-new-doc-m {
    width: 80%;
}

/*#modal-new-doc h4{*/
    /*text-align: center;*/
    /*margin-bottom: 16px;*/
    /*margin-top: 0;*/
/*}*/

.doc-cont-form , .doc-cont-form > .mdl-textfield {
    width: 100%;
}
/*----------------------------------*/
#invite-group .mdl-list__item-secondary-action {
    padding-left: 48px;
}

/*-----------FAB-------------*/

#dummy-w {
    display: none;
}

.overlay-fab {
    z-index: 4;
    position: fixed;
    right: 36px;
    display: none;
}

#overlay {
    background-color: #E57C3E;
    bottom: 32px;
}

#add-doc {
    background-color: #E57C3E;
    bottom: 120px;
}

#add-record {
    background-color: #E57C3E;
    bottom: 208px;
}