body {
  background-color: #F4F3EF; }

.mdl-layout__drawer-button i {
  color: #f4cab1; }

.mdl-layout__header {
  background: #524b4b;
  color: white; }

.mdl-layout__content {
  width: 100%;
  margin-top: 72px; }

#wrapper {
  margin: 24px 0 128px 0; }
  #wrapper #page-header {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
    #wrapper #page-header #header-center {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap; }
      #wrapper #page-header #header-center button {
        color: #E57C3E; }
      #wrapper #page-header #header-center h1 {
        margin: 0 16px;
        font-size: 32px; }
    #wrapper #page-header #toggle {
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      right: 36px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      margin-left: 32px;
      float: left; }
      #wrapper #page-header #toggle > span {
        padding: 0 8px;
        font-size: 14px;
        white-space: nowrap;
        text-align: center;
        color: rgba(0, 0, 0, 0.54); }
        #wrapper #page-header #toggle > span.is-active {
          color: rgba(0, 0, 0, 0.87); }
      #wrapper #page-header #toggle > .mdl-switch {
        padding-left: 28px; }
        #wrapper #page-header #toggle > .mdl-switch > .mdl-switch__track {
          width: 28px; }
        #wrapper #page-header #toggle > .mdl-switch > .mdl-switch__thumb {
          height: 16px;
          width: 16px;
          top: 4px; }
        #wrapper #page-header #toggle > .mdl-switch > .mdl-js-ripple-effect {
          width: 40px;
          height: 40px;
          top: -8px;
          left: -13px; }
        #wrapper #page-header #toggle > .mdl-switch.is-checked > .mdl-switch__thumb {
          left: 14px; }
  #wrapper #tab-w .mdl-tabs #tabs-bar-w .mdl-tabs__tab-bar {
    -webkit-box-pack: start;
    -webkit-justify-content: start;
    -ms-flex-pack: start;
    justify-content: start;
    padding-left: 64px; }
  #wrapper #tab-w .mdl-tabs .mdl-tabs__panel {
    max-width: 1200px;
    margin: 0 auto; }
    #wrapper #tab-w .mdl-tabs .mdl-tabs__panel ul {
      list-style: none;
      padding: 0;
      margin: 0 72px; }
      #wrapper #tab-w .mdl-tabs .mdl-tabs__panel ul li#row-card {
        margin: 36px 0 72px 0; }
        #wrapper #tab-w .mdl-tabs .mdl-tabs__panel ul li#row-card .mdl-card {
          width: unset;
          min-height: unset;
          padding: 0 16px;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -webkit-flex-direction: row;
          -ms-flex-direction: row;
          flex-direction: row;
          -webkit-box-align: center;
          -webkit-align-items: center;
          -ms-flex-align: center;
          align-items: center;
          vertical-align: middle; }
          #wrapper #tab-w .mdl-tabs .mdl-tabs__panel ul li#row-card .mdl-card #user-img {
            width: 40px;
            height: 40px;
            margin-left: 20px;
            margin-right: 36px; }
          #wrapper #tab-w .mdl-tabs .mdl-tabs__panel ul li#row-card .mdl-card #status {
            width: -webkit-fit-content;
            width: -moz-fit-content;
            width: fit-content;
            display: inline-block; }
            #wrapper #tab-w .mdl-tabs .mdl-tabs__panel ul li#row-card .mdl-card #status > .caption {
              font-size: 14px;
              line-height: 16px;
              color: rgba(0, 0, 0, 0.54); }
            #wrapper #tab-w .mdl-tabs .mdl-tabs__panel ul li#row-card .mdl-card #status > .value {
              color: rgba(0, 0, 0, 0.87); }
          #wrapper #tab-w .mdl-tabs .mdl-tabs__panel ul li#row-card .mdl-card #comment {
            -webkit-box-flex: 4;
            -webkit-flex-grow: 4;
            -ms-flex-positive: 4;
            flex-grow: 4;
            margin: 0 36px; }
            #wrapper #tab-w .mdl-tabs .mdl-tabs__panel ul li#row-card .mdl-card #comment .mdl-textfield {
              width: 100%; }
              #wrapper #tab-w .mdl-tabs .mdl-tabs__panel ul li#row-card .mdl-card #comment .mdl-textfield .mdl-textfield__input {
                padding: 4px 0 0 0; }
          #wrapper #tab-w .mdl-tabs .mdl-tabs__panel ul li#row-card .mdl-card #icons {
            color: rgba(0, 0, 0, 0.54); }
      #wrapper #tab-w .mdl-tabs .mdl-tabs__panel ul li.item {
        margin: 0 18px; }
        #wrapper #tab-w .mdl-tabs .mdl-tabs__panel ul li.item h1 {
          margin: 36px 18px;
          font-size: 24px; }
          #wrapper #tab-w .mdl-tabs .mdl-tabs__panel ul li.item h1 .svg-inline--fa {
            color: #E57C3E;
            margin-right: .5em; }
        #wrapper #tab-w .mdl-tabs .mdl-tabs__panel ul li.item[data-type="1"] > .item-in, #wrapper #tab-w .mdl-tabs .mdl-tabs__panel ul li.item[data-type="3"] > .item-in {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -webkit-flex-direction: row;
          -ms-flex-direction: row;
          flex-direction: row;
          margin-bottom: 48px; }
          #wrapper #tab-w .mdl-tabs .mdl-tabs__panel ul li.item[data-type="1"] > .item-in .time-compo, #wrapper #tab-w .mdl-tabs .mdl-tabs__panel ul li.item[data-type="3"] > .item-in .time-compo {
            width: -webkit-fit-content;
            width: -moz-fit-content;
            width: fit-content;
            margin-right: 96px;
            padding-left: 16px;
            border-left: #E57C3E solid 2px; }
            #wrapper #tab-w .mdl-tabs .mdl-tabs__panel ul li.item[data-type="1"] > .item-in .time-compo .time-title, #wrapper #tab-w .mdl-tabs .mdl-tabs__panel ul li.item[data-type="3"] > .item-in .time-compo .time-title {
              display: block;
              font-size: 18px;
              margin-bottom: 8px; }
            #wrapper #tab-w .mdl-tabs .mdl-tabs__panel ul li.item[data-type="1"] > .item-in .time-compo .time, #wrapper #tab-w .mdl-tabs .mdl-tabs__panel ul li.item[data-type="3"] > .item-in .time-compo .time {
              font-size: 30px;
              line-height: 20px;
              margin: 4px 0;
              vertical-align: middle;
              color: rgba(0, 0, 0, 0.87); }
              #wrapper #tab-w .mdl-tabs .mdl-tabs__panel ul li.item[data-type="1"] > .item-in .time-compo .time .arrow, #wrapper #tab-w .mdl-tabs .mdl-tabs__panel ul li.item[data-type="3"] > .item-in .time-compo .time .arrow {
                font-size: 22px;
                color: #E57C3E;
                vertical-align: middle; }
            #wrapper #tab-w .mdl-tabs .mdl-tabs__panel ul li.item[data-type="1"] > .item-in .time-compo .time-total, #wrapper #tab-w .mdl-tabs .mdl-tabs__panel ul li.item[data-type="3"] > .item-in .time-compo .time-total {
              display: block;
              font-size: 20px;
              white-space: nowrap; }
            #wrapper #tab-w .mdl-tabs .mdl-tabs__panel ul li.item[data-type="1"] > .item-in .time-compo .rec-times, #wrapper #tab-w .mdl-tabs .mdl-tabs__panel ul li.item[data-type="3"] > .item-in .time-compo .rec-times {
              color: rgba(0, 0, 0, 0.54);
              vertical-align: middle;
              margin-right: 1rem;
              white-space: nowrap; }
            #wrapper #tab-w .mdl-tabs .mdl-tabs__panel ul li.item[data-type="1"] > .item-in .time-compo .rec-comp, #wrapper #tab-w .mdl-tabs .mdl-tabs__panel ul li.item[data-type="3"] > .item-in .time-compo .rec-comp {
              color: rgba(0, 0, 0, 0.54);
              vertical-align: middle;
              white-space: nowrap; }
            #wrapper #tab-w .mdl-tabs .mdl-tabs__panel ul li.item[data-type="1"] > .item-in .time-compo .times-unit, #wrapper #tab-w .mdl-tabs .mdl-tabs__panel ul li.item[data-type="3"] > .item-in .time-compo .times-unit {
              font-size: 24px; }
        #wrapper #tab-w .mdl-tabs .mdl-tabs__panel ul li.item[data-type="2"] > .item-in {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -webkit-flex-direction: row;
          -ms-flex-direction: row;
          flex-direction: row;
          -webkit-flex-wrap: nowrap;
          -ms-flex-wrap: nowrap;
          flex-wrap: nowrap; }
          #wrapper #tab-w .mdl-tabs .mdl-tabs__panel ul li.item[data-type="2"] > .item-in > div {
            -webkit-box-flex: 5;
            -webkit-flex-grow: 5;
            -ms-flex-positive: 5;
            flex-grow: 5;
            padding-left: 16px;
            border-left: #E57C3E solid 2px; }
            #wrapper #tab-w .mdl-tabs .mdl-tabs__panel ul li.item[data-type="2"] > .item-in > div h5 {
              margin: 0 0 8px 0;
              font-size: 18px; }
            #wrapper #tab-w .mdl-tabs .mdl-tabs__panel ul li.item[data-type="2"] > .item-in > div .mdl-chip {
              margin-right: 8px; }
      #wrapper #tab-w .mdl-tabs .mdl-tabs__panel ul li > .seem {
        margin: 48px 0;
        background: #e0e0e0;
        height: 1px; }
