body {
  background-color: #F4F3EF; }

.mdl-layout__drawer-button i {
  color: #f4cab1; }

.mdl-layout__header {
  background: #524b4b;
  color: white; }

.mdl-layout__content {
  width: 100%;
  margin-top: 72px; }

#content-in {
  padding-top: 48px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

#main-col {
  width: 624px; }

#left-cal, #right-col {
  width: 300px; }

.column {
  padding: 12px; }

.card-item {
  width: unset;
  margin-top: 16px; }

#record-card {
  margin: 0; }
  #record-card #record-img {
    height: 300px;
    position: relative;
    background: rgba(0, 0, 0, 0.1); }
    #record-card #record-img .title-w {
      margin: 16px; }
      #record-card #record-img .title-w h5 {
        margin: 0; }
    #record-card #record-img .mdl-card__supporting-text {
      position: absolute;
      right: 0;
      bottom: 0;
      text-align: right;
      width: 100%; }
      #record-card #record-img .mdl-card__supporting-text #action_val :hover {
        color: #E57C3E;
        cursor: pointer; }
      #record-card #record-img .mdl-card__supporting-text #action_val a {
        color: rgba(0, 0, 0, 0.54);
        text-decoration: none; }
      #record-card #record-img .mdl-card__supporting-text #action_val a:first-child span {
        padding-right: 6px; }
  #record-card #bottom-table-w {
    padding: 16px 32px; }
    #record-card #bottom-table-w table {
      width: 100%;
      table-layout: fixed;
      text-align: left; }
      #record-card #bottom-table-w table > thead {
        font-size: 13px; }
      #record-card #bottom-table-w table > tbody {
        font-size: 20px; }
      #record-card #bottom-table-w table td {
        border-left: #E57C3E solid 2px;
        padding: 0 6px; }

#user-list .list-card__header {
  position: relative;
  padding: 16px 16px 0 16px;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.87); }
  #user-list .list-card__header .list-card__title {
    display: inline-block;
    height: 32px;
    vertical-align: middle; }
    #user-list .list-card__header .list-card__title .list-card__icon {
      color: #E57C3E;
      margin-right: 16px; }
  #user-list .list-card__header #member_conf {
    position: absolute;
    font-size: inherit;
    color: #E57C3E;
    top: 11px;
    right: 11px; }

#user-list #user-list-ul {
  margin: 0;
  padding: 0 8px; }
  #user-list #user-list-ul .config {
    font-size: 18px;
    color: rgba(0, 0, 0, 0.54); }

#user-list .list-drop-btn {
  margin: 0 auto;
  color: rgba(0, 0, 0, 0.54);
  font-size: inherit;
  height: 28px;
  width: 28px;
  min-width: 28px; }
