body {
  background-color: #F4F3EF; }

.mdl-layout__drawer-button i {
  color: #f4cab1; }

.mdl-layout__header {
  background: #524b4b;
  color: white; }

.mdl-layout__content {
  width: 100%;
  margin-top: 72px; }

#content-in {
  padding-top: 48px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

#main-col {
  width: 736px; }

.column {
  padding: 24px; }

.card-item {
  width: unset;
  margin-top: 16px; }

#record-card {
  margin: 0; }
  #record-card #record-img {
    height: 300px;
    position: relative;
    background: rgba(0, 0, 0, 0.1); }
    #record-card #record-img .title-w {
      margin: 16px; }
      #record-card #record-img .title-w h5 {
        margin: 0; }
    #record-card #record-img .mdl-card__supporting-text {
      position: absolute;
      right: 0;
      bottom: 0;
      text-align: right;
      width: 100%; }
      #record-card #record-img .mdl-card__supporting-text #action_val :hover {
        color: #E57C3E;
        cursor: pointer; }
      #record-card #record-img .mdl-card__supporting-text #action_val a {
        color: rgba(0, 0, 0, 0.54);
        text-decoration: none; }
        #record-card #record-img .mdl-card__supporting-text #action_val a span {
          padding-left: 3px; }
      #record-card #record-img .mdl-card__supporting-text #action_val a:first-child span {
        padding-right: 6px; }
  #record-card #bottom-table-w {
    padding: 16px 32px; }
    #record-card #bottom-table-w table {
      width: 100%;
      table-layout: fixed;
      text-align: left; }
      #record-card #bottom-table-w table > thead {
        font-size: 13px; }
      #record-card #bottom-table-w table > tbody {
        font-size: 20px; }
      #record-card #bottom-table-w table td {
        border-left: #E57C3E solid 2px;
        padding: 0 6px; }

#right-col #card-calendar {
  margin-top: 0; }
  #right-col #card-calendar .mdl-card {
    padding: 0 0 8px 0; }

#right-col .right-card:not(#card-calendar) {
  margin: 16px 0; }
  #right-col .right-card:not(#card-calendar).pre-load {
    display: none; }
  #right-col .right-card:not(#card-calendar) .mdl-card {
    padding: 16px 0 8px 0; }
    #right-col .right-card:not(#card-calendar) .mdl-card .list-card__header {
      position: relative;
      padding: 0 16px;
      font-size: 18px;
      color: rgba(0, 0, 0, 0.87); }
      #right-col .right-card:not(#card-calendar) .mdl-card .list-card__header .list-card__title {
        display: inline-block;
        height: 32px;
        vertical-align: middle; }
        #right-col .right-card:not(#card-calendar) .mdl-card .list-card__header .list-card__title .list-card__icon {
          color: #E57C3E;
          margin-right: 16px; }
      #right-col .right-card:not(#card-calendar) .mdl-card .list-card__header .list-card__conf {
        position: absolute;
        font-size: inherit;
        color: rgba(0, 0, 0, 0.54);
        top: -6px;
        right: 16px; }
        #right-col .right-card:not(#card-calendar) .mdl-card .list-card__header .list-card__conf:hover {
          color: #E57C3E; }
    #right-col .right-card:not(#card-calendar) .mdl-card .list-card__ul {
      margin: 0;
      padding: 0;
      border-top: 1px solid rgba(0, 0, 0, 0.1); }
      #right-col .right-card:not(#card-calendar) .mdl-card .list-card__ul > .mdl-list__item {
        padding: 20px 32px;
        font-size: 16px;
        font-weight: 400;
        width: unset;
        min-width: unset;
        color: inherit;
        text-transform: inherit;
        text-align: unset;
        line-height: unset;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        border-radius: unset;
        height: unset; }
      #right-col .right-card:not(#card-calendar) .mdl-card .list-card__ul .config {
        font-size: 18px;
        color: rgba(0, 0, 0, 0.54); }
    #right-col .right-card:not(#card-calendar) .mdl-card .list-drop-btn {
      margin: 0 auto;
      color: rgba(0, 0, 0, 0.54);
      font-size: inherit;
      height: 28px;
      width: 28px;
      min-width: 28px;
      display: none; }

#group-act-list {
  margin-top: 72px;
  list-style: none;
  padding: 0; }
  #group-act-list #sample {
    width: unset;
    margin-top: 36px; }
    #group-act-list #sample .group-act__header {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: start;
      -webkit-align-items: start;
      -ms-flex-align: start;
      align-items: start;
      padding: 24px 40px; }
      #group-act-list #sample .group-act__header .group-act__icon {
        width: 40px;
        height: 40px;
        margin-right: 16px; }
      #group-act-list #sample .group-act__header > div {
        -webkit-box-flex: 10;
        -webkit-flex-grow: 10;
        -ms-flex-positive: 10;
        flex-grow: 10; }
        #group-act-list #sample .group-act__header > div > h5 {
          margin: 8px 0; }
        #group-act-list #sample .group-act__header > div .member-chips .mdl-chip__contact {
          width: 28px;
          height: 28px; }
    #group-act-list #sample .group-log ul {
      list-style: none;
      padding: 0;
      margin: 0; }
      #group-act-list #sample .group-log ul > li {
        border-top: #F4F3EF solid 1px; }
        #group-act-list #sample .group-log ul > li > .log-time {
          height: 24px;
          padding-right: 12px;
          color: rgba(0, 0, 0, 0.54);
          font-size: 14px;
          text-align: right;
          vertical-align: middle; }
        #group-act-list #sample .group-log ul > li > .log-cont-w {
          padding: 0 40px 24px 40px;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: start;
          -webkit-align-items: flex-start;
          -ms-flex-align: start;
          align-items: flex-start; }
          #group-act-list #sample .group-log ul > li > .log-cont-w .log-icon {
            position: relative;
            width: 32px;
            height: 32px;
            background: #E57C3E; }
            #group-act-list #sample .group-log ul > li > .log-cont-w .log-icon > .fa-reply, #group-act-list #sample .group-log ul > li > .log-cont-w .log-icon > .fa-file-alt {
              position: absolute;
              display: block;
              top: 50%;
              left: 50%;
              -webkit-transform: translateX(-50%) translateY(-50%);
              -ms-transform: translateX(-50%) translateY(-50%);
              transform: translateX(-50%) translateY(-50%);
              color: white; }
          #group-act-list #sample .group-log ul > li > .log-cont-w .log-cont {
            padding-left: 40px;
            -webkit-box-flex: 10;
            -webkit-flex-grow: 10;
            -ms-flex-positive: 10;
            flex-grow: 10;
            color: rgba(0, 0, 0, 0.54);
            font-size: 16px;
            line-height: 28px; }
            #group-act-list #sample .group-log ul > li > .log-cont-w .log-cont .sbj-icon {
              width: 28px;
              height: 28px;
              margin-right: 8px; }
              #group-act-list #sample .group-log ul > li > .log-cont-w .log-cont .sbj-icon:not(:first-child) {
                margin-left: 8px; }
            #group-act-list #sample .group-log ul > li > .log-cont-w .log-cont .sbj-name, #group-act-list #sample .group-log ul > li > .log-cont-w .log-cont .obj-name {
              color: rgba(0, 0, 0, 0.87); }
  #group-act-list .card-item-group {
    width: unset;
    margin-top: 36px; }
    #group-act-list .card-item-group .group-act__header .mdl-list {
      margin: 0;
      padding: 0; }
      #group-act-list .card-item-group .group-act__header .mdl-list .mdl-list__item {
        padding: 28px 40px 0 40px; }
        #group-act-list .card-item-group .group-act__header .mdl-list .mdl-list__item .mdl-list__item-primary-content .group-act__icon {
          width: 48px;
          height: 48px;
          margin-right: 24px; }
        #group-act-list .card-item-group .group-act__header .mdl-list .mdl-list__item .mdl-chip__contact {
          margin-left: 8px;
          margin-right: 0; }
    #group-act-list .card-item-group .group-log {
      padding: 32px; }
      #group-act-list .card-item-group .group-log table {
        width: 100%; }
        #group-act-list .card-item-group .group-log table tbody tr {
          border: none;
          border-collapse: collapse; }
          #group-act-list .card-item-group .group-log table tbody tr td.group-log__time {
            color: rgba(0, 0, 0, 0.87);
            text-align: right;
            font-size: 15px;
            line-height: 15px;
            width: 80px; }
          #group-act-list .card-item-group .group-log table tbody tr td.group_log__vert {
            padding: 0;
            width: 48px;
            height: 72px; }
            #group-act-list .card-item-group .group-log table tbody tr td.group_log__vert div {
              width: 100%;
              height: 100%;
              position: relative; }
              #group-act-list .card-item-group .group-log table tbody tr td.group_log__vert div .vert-line {
                width: 2px;
                height: 100%;
                background-color: gray;
                margin: 0 23px;
                position: absolute; }
              #group-act-list .card-item-group .group-log table tbody tr td.group_log__vert div .rounded-circle {
                height: 16px;
                width: 16px;
                border: gray solid 2px;
                position: absolute;
                background: white;
                top: 50%;
                left: 50%;
                -webkit-transform: translateX(-50%) translateY(-50%);
                -ms-transform: translateX(-50%) translateY(-50%);
                transform: translateX(-50%) translateY(-50%); }
          #group-act-list .card-item-group .group-log table tbody tr td.group-log__txt .mdl-list {
            width: 100%;
            border-radius: 8px;
            border: #f4cab1 solid 1px;
            padding: 8px 12px;
            min-height: 48px;
            margin: 8px 0; }
            #group-act-list .card-item-group .group-log table tbody tr td.group-log__txt .mdl-list .mdl-list__item--two-line {
              height: unset; }
            #group-act-list .card-item-group .group-log table tbody tr td.group-log__txt .mdl-list .mdl-list__item {
              padding: 0; }
              #group-act-list .card-item-group .group-log table tbody tr td.group-log__txt .mdl-list .mdl-list__item .mdl-list__item-primary-content {
                height: unset; }
              #group-act-list .card-item-group .group-log table tbody tr td.group-log__txt .mdl-list .mdl-list__item .mdl-list__item-avatar {
                width: 28px;
                height: 28px; }
            #group-act-list .card-item-group .group-log table tbody tr td.group-log__txt .mdl-list .mdl-list__item.posted-user {
              min-height: unset;
              padding: 4px 20px; }
            #group-act-list .card-item-group .group-log table tbody tr td.group-log__txt .mdl-list .mdl-list__item-secondary-content img {
              background: gray;
              width: 28px;
              height: 28px; }
    #group-act-list .card-item-group .member-chips {
      margin-left: 88px; }
