@charset "utf-8";

$primaryColor: #E57C3E;
$textDefColor: rgba(0, 0, 0, .87);//MDL準拠
$textExtraColor: rgba(0,0,0,.54);//MDL準拠
$bodyColor: #F4F3EF;
$lineColor: #f4cab1;

$holidayColor: #dd3734;
$pageMaxWidth: 1200px;

$headerColor: #524b4b;
$tableRowColor: #fafaf8;

@mixin seem-top{
  border-top: 1px solid rgba(0,0,0,.1);
}