#overlay {
    z-index: 4;
    position: fixed;
    right: 48px;
    bottom: 32px;
}

body {
    overflow-x: auto;
    background-color: #F4F3EF;
}

/*ドロワーまわり*/
.demo-drawer {
    border: none;
}
/* iOS Safari specific workaround */
.demo-drawer .mdl-menu__container {
    z-index: -1;
}
.demo-drawer .demo-navigation {
    z-index: -2;
}
/* END iOS Safari specific workaround */
.demo-drawer .mdl-menu .mdl-menu__item {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.demo-drawer-header {
    box-sizing: border-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 16px;
    height: 151px;
    background-color: white;
}

.demo-avatar {
    width: 48px;
    height: 48px;
    border-radius: 24px;
    margin-right: 24px;
}

.demo-avatar-dropdown {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
}

.demo-navigation {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.demo-layout .demo-navigation .mdl-navigation__link {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.56);
    font-weight: 500;
}

.drawer_icon {
    margin-right: 32px;
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link{
    text-decoration: none;
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link :hover {
    text-decoration: none;
}

/*************nav bar***************/
.mdl-layout__header{
    background-color: white;
    color: #66615b;
}

.mdl-layout__header .mdl-layout__drawer-button {
    color: #66615b;
}

.mdl-layout__tab{
    background-color: white;
}

.mdl-layout__header-row{
    padding-right: 20px;
}

#group-img {
    height: 36px;
    width: 36px;
    border-radius: 50%;
    margin-right: 20px;
}

#group-drp-btn {
    margin-left: 12px;
}

/*------------frame work---------------*/
#wrapper {
    margin: 0 auto;
    max-width: 1100px;
    min-width: 600px;
}

.mdl-list__item-primary-content span {
    cursor: text;
}

#column2 {

}

/*------------Card Header--------------*/
.card {
    margin: 10px 20px;
    border: 0;
    border-radius: 10px;
    box-shadow: 0 2px 2px rgba(204, 197, 185, 0.5);
    max-width: 1000px;/*イベントのカードの横幅default値*/
}

.average{
    color: #66615b;
    font-size: 20px;
    margin: 0;
}

.ele_header {
    padding: 10px 16px 6px 16px;
    vertical-align: middle;
    display: flex;
    align-items: center;
    height: 42px;
}

.card.comments .ele_header .fa-comments {
    color: #E57C3E;
}

.ele_header_button {
    float: right;
    color: #BCBCBC;
    font-size: 16px;
}

.event_title {
    font-size: 16px;
    margin: 0 16px 0 8px;
}

.file .ele-icon {
    color: #66615b;
}

.file .user-icon {
    height: 32px;
    width: 32px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.seem {
    margin: 0;
    background-color: #F4F3EF;
    border: 0;
}

.flex-box {
    display: -webkit-flex; /* Safari */
    display: flex;
    -webkit-flex-wrap: wrap; /* Safari */
    flex-wrap:         wrap;
}

/*----------user--------------*/

.user-image-i{
    height: 100px;
    width: 100%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.user-img-w{
    margin: 16px 24px 0 24px;
    width: 100px;
}

.user-name {
    margin: 12px 0;
    color: #757575;
    width: 100%;
    text-align: center;
}

.user-image{
    height: 100px;
    width: 100%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    min-height: 0;
}

.members .card-cont {
    margin: 8px 0 0 0;
}

.expand-footer {
    width: 100%;
}

.expand-footer .mdl-button {
    width: 100%;
    border-radius: 0 0 10px 10px;
}

.expand-footer .fa-caret-down{
    color: #66615b;
}

/*---------user ver.2----------*/
.average{
    color: #66615b;
    font-size: 20px;
    margin: 0 0 8px 0;
    vertical-align: middle;
}

.card.user-list img{
    width: 40px;
    height: 40px;
    margin-right: 24px;
    border-radius: 50%;
}

.card.user-list {
    flex: border-box;
    /*min-width: 256px;*/
    width: 420px;
    margin-right: 8px;
    margin-left: 8px;
}

.card.user-list .mdl-list__item-secondary-action {
    margin-left: 24px;
}

.card.user-list .mdl-button {
    color: #66615b;
}

.card.user-list .health-rec-btn i {
    font-size: 16px;
}

.card.user-list .health-rec-btn, .show-file{
    cursor: pointer;
    color: white;
    background-color: #E57C3E;
}

.card.user-list .invited {
    color: white;
    background-color: #894a25;
}

/*--------------ディスカッション------------*/
.comments .card-cont {

}

.comment-first img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.comment-follow img{
    height: 32px;
    width: 32px;
    border-radius: 50%;
}

.comment-follow .author-right{
    /*margin-left: 16px;*/
    margin-right: 16px;
}

.comment-follow .author-left {
    margin-right: 16px;
}

.comment-first .mdl-list__item--two-line .mdl-list__item-primary-content .mdl-list__item-icon {
    margin-top: 0;
}

.comment-first .mdl-list__item {
    padding: 0;
}

.comment-first ul {
    margin-bottom: 0;
}

.comment-first {
    padding-bottom: 36px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.comment-first .comment-cont p, .comment-follow .comment-cont p {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 8px;
}

.comment-follow .comment-cont p {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 8px;
}

.comment-first .comment-cont {
    margin-top: 8px;
}

.comment-follow .comment-cont {
    margin-top: 20px;
}

.comment-follow {
    padding: 36px 96px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.comment-follow.flex-box {
    flex-wrap: nowrap;
}

.comment-first .comment-author {
    margin: 0;
    font-size: 16px;
}

.comment-follow .comment-author {
    margin: 0;
    font-size: 14px;
    line-height: 20px;
}

.comment-follow .comment-time {
    margin: 0;
    font-size: 13px;
    line-height: 18px;
}

.comment-follow header {
    flex-wrap: nowrap;
    align-items: center;
}

/*.comment-follow.author-right header {*/
    /*-webkit-flex-direction: row-reverse; !* Safari *!*/
    /*flex-direction:         row-reverse;*/
/*}*/

.author-right{
    /*-webkit-flex-direction: row-reverse; !* Safari *!*/
    /*flex-direction:         row-reverse;*/
    background-color: #FFFCF5;
}

/*.comment-first.author-right {*/
    /*-webkit-flex-direction: row-reverse; !* Safari *!*/
    /*flex-direction:         row-reverse;*/
    /*background-color: #FFFCF5;*/
/*}*/

/*.ele_header.author-right {*/
    /*background-color: #FFFCF5;*/
/*}*/

.comment-follow .comment-time {
    color: rgba(0,0,0,.54);
}

/*.comment-follow.author-right .comment-cont{*/
    /*-webkit-flex-direction: row-reverse; !* Safari *!*/
    /*flex-direction:         row-reverse;*/
/*}*/

.space-horizontal {
    padding-right: 24px;
    padding-left: 24px;
}

/*-----------ファイル-------------*/
.file {
    flex-direction: row;
    flex-wrap: nowrap;
    display: block;
}

.file-icon {
    display: block;
    margin: 8px 24px 0 24px;
    width: 40px;
    height: 40px;
}

.file .mdl-list {
    flex: 1;
}

.file .mdl-list__item-primary-content {
    height: auto;
}

.file .mdl-list__item-sub-title {
    margin-top: 4px;
}

.show-img{
    height: 400px;
    width: 100%;
    background-color: rgba(0, 0, 0, .3);
    border: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
}

.show-img img {
    height: 400px;
    width: 400px;
    margin: 0 auto;
    display: block;
}

.file .ele_header {
    padding-bottom: 0;
}

.file li {
    padding: 0 16px 8px 16px;
    height: auto;
}

.file ul {
    margin-bottom: 16px;
}

.file .event_title {
    font-size: 14px;
    color: rgba(0,0,0,.54);
}

.file-wrapper {
    margin-top: 8px;
}

/*--------dialog------------*/
.mdl-dialog__title {
    font-size: 14px;
    color: #757575;
}

#dialog-img-w {
    width: 100%;
    text-align: center;
    object-fit: contain;
}

.mdl-dialog__content img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}

.mdl-dialog__content h4 {
    font-size: 18px;
    margin: 8px 0 8px 0;
    color: black;
}

.mdl-dialog {
    min-width: 280px;
    max-width: 80%;
    width: fit-content;
}

#circle1{
    color: #C0504D;
}

#circle2{
    color: #9BBB59;
}

#circle3{
    color: #1F497D;
}

#circle4 {
    color: #8064A2;
}

#modal-circle-w {
    vertical-align: middle;
}
#modal_input, #edit-comment-dialog{
    font-size: 14px;
}

.modal-circle-w{
    cursor: pointer;
    margin-left: 24px;
}

/*override*/
#modal-circle-w1 {
    margin-left: 0;
}

.modal_row {
    margin-top: 16px;
}

.modal-circle-i{
    font-size: 24px;
    vertical-align: middle;
    text-align: center;
}

.modal-circle-check {
    font-size: 24px;
    color: white;
    text-align: center;
    display: none;
}

.show {
    display: inline;
}

/*-----------FAB-------------*/
#overlay.mdl-button--fab.mdl-button--colored{
    background-color: #E57C3E;
}