body {
    overflow-x: hidden;
    background-color: #F4F3EF;
}

/*************nav bar***************/
.mdl-layout__drawer-button i{
    color: #f4cab1;
}

.mdl-layout__header {
    background: #524b4b;
    color: white;
}

.mdl-layout__header .mdl-layout__drawer-button {
    color: #66615b;
}

.card {
    margin-left: 20px;
    border: 0;
    border-radius: 10px;
    box-shadow: 0 2px 2px rgba(204, 197, 185, 0.5);
    width: 700px;/*イベントのカードの横幅default値*/
    display: inline-block;
}

.align-center {
    text-align: center;
}

.card_wrapper{
    padding: 0 20px;
    width: fit-content;
    /*margin: 0 auto;*/
    /*display: -webkit-flex;*/
    /*display: flex;*/
    /*-webkit-flex-wrap: wrap; !* Safari *!*/
    /*flex-wrap:         wrap;*/
    /*justify-content: center;*/
}

#page-content-wrapper {
    /*width: 80%;*/
}

#container-fluid {
    margin: 40px auto;
    width: fit-content;
    display: flex;
    display: -moz-flex;
}

.card-wrapper-i {
    vertical-align: top;
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    padding: 20px 20px;
    margin: 0 auto;
    width: min-content;
    width: -moz-min-content;
}

/*-------------------ヘッダタブ------------------*/

#tab-row {
    background-color: #fcfcfb;
    width: 100%;
    height: 48px;
    /*-webkit-flex-grow: 1; !* Safari *!*/
    /*flex-grow:         1;*/
    /*position: relative;*/
}

.tab-btn-w {
    display: inline-block;
}

#tab-prev {
    position: absolute;
    padding: 8px 24px;
    left: 0;
}

#tab-next {
    position: absolute;
    padding: 8px 24px;
    right: 0;
}

#tab-row i{
    color: rgba(0, 0, 0, 0.87);
}

#tab-center {
    position: absolute;
    left: 80px;
    right: 80px;
    height: 48px;
}

#tab-center > div{
    display: inline-flex;
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    -webkit-flex-wrap: nowrap; /* Safari */
    flex-wrap:         nowrap;
    position: absolute;
    width: 100%;
    height: 48px;
}

/*#tab-center.is-open {*/
    /*left: 0;*/
    /*top:0;*/
    /*background: #ccc;*/
    /*transition: left .5s ease;*/
/*}*/

#tab-row a {
    display: inline-block;
    height: 48px;
    vertical-align: middle;
    flex-shrink: 0;
    flex-grow: 1;
    -webkit-flex-grow: 1;
}

.layout__tab  {
    color: rgba(0, 0, 0, 0.5);
    -webkit-flex-grow: 2; /* Safari */
    flex-grow:         2;
    vertical-align: middle;
    height: 48px;
    position: relative;
    cursor: pointer;
}

.layout__tab.is-active {
    color: rgba(0, 0, 0, 0.87);
    border-bottom: #E57C3E solid 2px;
}

.layout__tab span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
}

.layout__tab.holiday {
    color: #dd3734;
}

/*.nav-default {*/
    /*left: -100%;*/
    /*top:0;*/
    /*background: #ccc;*/
    /*transition: left .5s ease;*/
/*}*/

/*.nav-default.is-open {*/
    /*left: 0*/
/*}*/

/*-------------------ページローディング-----------------*/
#page-load-prg {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
}

/*--------------ボタン追加系------------------*/
/*#add_btn_w{*/
/*padding-top: 30px;*/
/*padding-bottom: 30px;*/
/*width: 100%;*/
/*text-align: center;*/
/*}*/
#fab-w-w {
    width: 200px;
    height: 120px;
    margin-top: 220px;
    margin-left: 16px;
    display: inline-block;
    position: relative;
}

#fab-wrapper .mdl-menu__container {
    margin-bottom: 16px;
}

#fab-wrapper {
    position: absolute;
    height: 56px;
    width: 56px;
    top: 80px;
}

#overlay {
    margin-top: 16px;
    background-color: #E57C3E;
}

#overlay i{
    color: white;
}

#save {
    display: none;
    position: absolute;
    /*top: 60px;*/
    color: rgba(255,255,255,1);
    background-color: #E57C3E;
}

/*----------------Fabまわり------------------*/
.add-button {
    position: absolute;
    /*box-shadow: 0 2px 2px gray;*/
    border-radius: 50%;
    cursor: pointer;
    right: 0;
    bottom: -28px;
    width: 56px;
    height: 56px;
    overflow: visible;
    -webkit-transition: transform .4s cubic-bezier(.58,-0.37,.45,1.46),
    color 0s ease .4s,font-size .2s;
    -moz-transition: transform .4s cubic-bezier(.58,-0.37,.45,1.46),
    color 0s ease .4s,font-size .2s;
    transition: transform .4s cubic-bezier(.58,-0.37,.45,1.46),
    color 0s ease .4s,font-size .2s;
    text-align: center;
    line-height: 56px;
    font-size: 28px;
    color: rgba(255,255,255,1);
}

.add-button:before {
    position: relative;
    z-index: 100;
    content:"+";
}

.add-button:hover {
    box-shadow: none;
    border-radius: 0;
    color: rgba(255,255,255,0);
    transform: rotate(45deg);
}

.sub-button {
    position: absolute;
    display: inline-block;
    cursor: pointer;
    background-color: #BCBCBC;;
    color: rgba(255,255,255,0);
    width: 28px;
    height: 28px;
    line-height:48px;
    font-family: "FontAwesome";
    font-size: 12px;
    -webkit-transition: top .2s cubic-bezier(.58,-0.37,.45,1.46) .2s,
    left .2s cubic-bezier(.58,-0.37,.45,1.46) .2s,
    bottom .2s cubic-bezier(.58,-0.37,.45,1.46) .2s,
    right .2s cubic-bezier(.58,-0.37,.45,1.46) .2s,
    width .2s cubic-bezier(.58,-0.37,.45,1.46) .2s,
    height .2s cubic-bezier(.58,-0.37,.45,1.46) .2s,
    transform .1s ease 0s,
    border-radius .2s  ease .2s;
    -moz-transition: top .2s cubic-bezier(.58,-0.37,.45,1.46) .2s,
    left .2s cubic-bezier(.58,-0.37,.45,1.46) .2s,
    bottom .2s cubic-bezier(.58,-0.37,.45,1.46) .2s,
    right .2s cubic-bezier(.58,-0.37,.45,1.46) .2s,
    width .2s cubic-bezier(.58,-0.37,.45,1.46) .2s,
    height .2s cubic-bezier(.58,-0.37,.45,1.46) .2s,
    transform .1s ease 0s,
    border-radius .2s  ease .2s;
    transition: top .2s cubic-bezier(.58,-0.37,.45,1.46) .2s,
    left .2s cubic-bezier(.58,-0.37,.45,1.46) .2s,
    bottom .2s cubic-bezier(.58,-0.37,.45,1.46) .2s,
    right .2s cubic-bezier(.58,-0.37,.45,1.46) .2s,
    width .2s cubic-bezier(.58,-0.37,.45,1.46) .2s,
    height .2s cubic-bezier(.58,-0.37,.45,1.46) .2s,
    transform .1s ease 0s,
    border-radius .2s  ease .2s;
}

.tl {
    top: 0;
    left: 0;
    border-radius: 28px 0 0 0;
}

.tr {
    top: 0;
    right: 0;
    border-radius: 0 28px 0 0;
}

.bl {
    bottom: 0;
    left: 0;
    border-radius: 0 0 0 28px;
}

.br {
    bottom: 0;
    right: 0;
    border-radius: 0 0 28px 0;
}


/*.tl:before {*/
/*content:"";*/
/*}*/

/*.tr:before {*/
/*content:"";*/
/*}*/

/*.bl:before {*/
/*content:"";*/
/*}*/

/*.br:before {*/
/*content:"";*/
/*}*/


.add-button:hover .sub-button {
    width: 48px;
    height: 48px;
    transform: rotate(-45deg);

    color: rgba(255,255,255,1);
    -webkit-transition: top .4s cubic-bezier(.58,-0.37,.45,1.46) .4s,
    left .4s cubic-bezier(.58,-0.37,.45,1.46) .4s,
    bottom .4s cubic-bezier(.58,-0.37,.45,1.46) .4s,
    right .4s cubic-bezier(.58,-0.37,.45,1.46) .4s,
    width .4s cubic-bezier(.58,-0.37,.45,1.46) .4s,
    height .4s cubic-bezier(.58,-0.37,.45,1.46) .4s,
    color .3s ease .8s,
    transform .3s ease .8s,
    border-radius .4s  ease .6s;
    -moz-transition: top .4s cubic-bezier(.58,-0.37,.45,1.46) .4s,
    left .4s cubic-bezier(.58,-0.37,.45,1.46) .4s,
    bottom .4s cubic-bezier(.58,-0.37,.45,1.46) .4s,
    right .4s cubic-bezier(.58,-0.37,.45,1.46) .4s,
    width .4s cubic-bezier(.58,-0.37,.45,1.46) .4s,
    height .4s cubic-bezier(.58,-0.37,.45,1.46) .4s,
    color .3s ease .8s,
    transform .3s ease .8s,
    border-radius .4s  ease .6s;
    transition: top .4s cubic-bezier(.58,-0.37,.45,1.46) .4s,
    left .4s cubic-bezier(.58,-0.37,.45,1.46) .4s,
    bottom .4s cubic-bezier(.58,-0.37,.45,1.46) .4s,
    right .4s cubic-bezier(.58,-0.37,.45,1.46) .4s,
    width .4s cubic-bezier(.58,-0.37,.45,1.46) .4s,
    height .4s cubic-bezier(.58,-0.37,.45,1.46) .4s,
    color .3s ease .8s,
    transform .3s ease .8s,
    border-radius .4s  ease .6s;
}

.add-button:hover .tl {
    top: -25px;
    left: -25px;
    border-radius: 28px;
}

.add-button:hover .tr {
    top: -25px;
    right: -25px;
    border-radius: 28px;
}

.add-button:hover .bl {
    bottom: -25px;
    left: -25px;
    border-radius: 28px;
}

.add-button:hover .br {
    bottom: -25px;
    right: -25px;
    border-radius: 28px;
}

/****************** time events *******************/
.card_block {
    width: 100%;
}

.card_block_w {
    margin: 16px 80px 36px 80px;
}

.card_block tr {
    height: 56px;
}

.time {
    width: fit-content;
    /*margin-right: -15px;*/
}

.time .mdl-textfield {
    width: fit-content;
}

.min {
    width: 40px;
}

.input_eve {

}

/*datePickerまわり*/

.btn {
    margin-left: 16px;
    cursor: pointer;
}

.dtp-btn-cancel {
    cursor: pointer;
}

.date-picker-radios {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

/*.date-picker-radios tr{*/
/*display: flex;*/
/*justify-content: space-between;*/
/*}*/

.time_input {
    /*text-align: center;*/
    /*font-weight: bold;*/
    font-size: 18px;
    width: 50px;
    /*color: slategray;*/
}

.event_name{
    /*margin-left: 24px;*/
    display: inline-block;
    color: #616161;
}

.input_eve {
    font-size: 18px;
}

/*.colon {*/
/*font-size: 25px;*/
/*text-align: center;*/
/*font-weight: bold;*/
/*color: slategray;*/
/*margin-bottom: 8px;!*=16-5*!*/
/*}*/

.mdl-textfield__label{
    margin-bottom: -20px;
    padding-bottom: 0;
    font-size: 16px;/*depends on .mdl-textfield*/
}

.time .mdl-textfield--floating-label.is-focused .mdl-textfield__label, .mdl-textfield--floating-label.is-dirty .mdl-textfield__label, .mdl-textfield--floating-label.has-placeholder .mdl-textfield__label {
    top: 0;
}

.time .mdl-textfield__label:after {
    background-color: unset;
}

.mdl-textfield{
    padding-bottom: 0;
}

.icon_down{
    /*margin-left: 90px;*/
    /*margin-bottom: -20px;*/
}

.range-post .mdl-textfield {
    margin-top: -20px;
}

/*tbody .range-post :after {*/
/*height: 40px;*/
/*}*/

/*tbody .range-post {*/
/*padding-top: 12px;*/
/*}*/

.circle {
    width: 20px;
    height: 20px;
    display: inline-block;
    cursor: pointer;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    margin-right: 20px;
    border: 3px solid transparent;
}

tbody .circle {
    width: 10px;
    height: 10px;
}

tbody .mdl-textfield {
    padding-bottom: 0;
    padding-right: 16px;
}

tbody .mdl-textfield__input {
    padding: 0;
}

tbody .fa-times {
    color: #BCBCBC;
}

tbody .mdl-textfield__label {
    top: 20px;
}

.card_block .mdl-button--icon, .demo-list-item .mdl-button--icon, .ele_header .mdl-button--icon{
    height: 20px;
    width: 20px;
    min-width: 15px;
    font-size: 15px;
}

.add-eve-row button {
    display: inline-block;
}

.add-eve-row i {
    color: #BCBCBC;
}

tbody .angle-down {
    height: fit-content;
}

tbody .angle-down td{
    padding-top: 6px;
}

tbody .range-post {
    height: 30px;
}

.range-pre {
    padding-bottom: 12px;
}

/*---------------骨組みまわり-------------------*/

.ele_header {
    /*padding: 10px 8px;*/
    /*margin: 0;*/
    /*display: block;*/
    /*margin: 72px;*/
    font-size: 18px;
    padding: 16px 24px 16px 24px;
    margin: 0;
    background-color: #FFFCF5;
    border-top-left-radius: 10px;
    -moz-border-radius-topleft: 10px;
    border-top-right-radius: 10px;
    -moz-border-radius-topright: 10px;
}

.ele_header .svg-inline--fa {
    color: #E57C3E;
    margin-right: 20px;
    font-size: 20px;
}

td {
    vertical-align: bottom;
}

/*---------------Icon Font---------------------*/
.card_block .mdl-button--icon, .demo-list-item .mdl-button--icon, .ele_header .mdl-button--icon {
    height: 20px;
    width: 20px;
    min-width: 15px;
    font-size: 15px;
}

.add-eve-row td {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 16px;
}

.range-add td {
    padding-bottom: 0;
}

.add-eve-row .mdl-button {
    height: 32px;
    width: 32px;
}

/*///////////////タイムイベントモーダルまわり/////////////*/

/*.circle :hover{*/
/*border-color: #00bbff;*/
/*}*/

.modal-circle{
    font-size: 20px;
    cursor: pointer;
}

/*.circle.active{*/
/*border-color: #00bbff;*/
/*}*/

.circle1{
    color: #C0504D;
}

.circle2{
    color: #9BBB59;
}

.circle3{
    color: #1F497D;
}

.circle4 {
    color: #8064A2;
}

.modal-circle-w{
    cursor: pointer;
    margin-left: 24px;
}

/*override {.modal-circle-w}*/
.modal-circle-w1{
    margin-left: 12px;
}

.modal-circle-i{
    /*position: relative;*/
    font-size: 24px;
    vertical-align: middle;
    text-align: center;
}

.modal-circle-check{
    /*position: absolute;*/
    /*-webkit-transform: translateX(50%);*/
    /*transform: translateX(50%);*/
    font-size: 24px;
    color: white;
    text-align: center;
    display: none;
}

.show {
    display: inline;
}

#modal-circle-w {
    vertical-align: middle;
}

/*////////////タイムイベントPopOverまわり//////////////*/
.circle-popover {
    height: content-box;
    margin: 8px 32px 12px 8px;
    text-align: left;
}

/*-------------------タグプール系----------------*/

/*.chips_btn {*/
/*color: white;*/
/*margin: 5px;*/
/*font-size: 22px;*/
/*}*/

/*.chips_btn_circle {*/
/*color: white;!*.mdl-chip__action に合わせてる*!*/
/*margin: 0;*/
/*}*/

/*.custom_tips_btn{*/
/*font-size: 32px;*/
/*}*/

.tag_wrapper{
    display: inline-block;
    margin: 2px 5px;
    cursor: pointer;
}

.mdl-chip i, .mdl-chip .fa-check{
    color: white;
}

.mdl-chip .fa-check {
    margin-left: 8px;
}

.mdl-chip__text {
    cursor: pointer;
}

.mdl-chip .mdl-chip__action i:hover{
    color: #BCBCBC;
}

.tag-add-btn {
    color: #BCBCBC;
    font-size: 24px;
    height: 32px;
    width: 32px;
    margin-top: 8px;
    margin-right: 4px;
    margin-left: 4px;
}

.tag_pool {
    padding: 48px 76px;
}

/*.mdl-chip{*/
/*background-color: #F1EAE0;*/
/*}*/

/*-------------モーダル系----------------*/
.modal-content{
    border: 0;
    border-radius: 10px;
    box-shadow: 0 2px 2px rgba(204, 197, 185, 0.5);
}

.blur {
    -webkit-filter: blur(5px) grayscale(50%);
    -moz-filter: blur(5px) grayscale(50%);
    -ms-filter: blur(5px);
    filter: blur(5px) grayscale(50%);
}

.modal-backdrop {
    background-color: black;
}

#checkbox-modal-label{
    width: auto;
    margin-left: 16px;
}

.modal-ele {
    display: inline-block;
}

#modal_input{
    font-size: 14px;
}

#modal-row1{
    margin-top: 8px;
    margin-bottom: 12px;
}

#modal-row3{
    margin-top: 20px;/*depends on padding of {.mdl-textfield}*/
}

.modal-body{
    padding-left: 30px;
}

.modal-footer{
    border-top: 0;
}

.modal-footer-btn{
    cursor: pointer;
}

/*コメントまわり*/
.comment {
    width: 100%;
}

.comment_form {
    padding: 32px 80px 42px 80px;
}

/*.remove_btn{*/
/*width: 24px;*/
/*height: 24px;*/
/*}*/

.params_check .params_slider {
    display: none;
    padding-right: 4px;
}

.mdl-slider {
    width: 72px;
}

.params_slider {
    vertical-align: bottom;
    margin-bottom: 0;
}

.mdl-button{
    padding: 0;
}

.drag_btn_i {
    margin-right: 32px;
    min-width: 16px;
    font-size: 16px;
    color: #BCBCBC;
    cursor: move;
}

.params_title {
    vertical-align: middle;
    color: #66615b;
    font-size: 18px;
    padding-bottom: 0;
}

.params_title_w{
    padding-top: 0;
}

.mdl-list__item{
    padding-right: 8px;
    padding-left: 8px;
    vertical-align: middle;
}

.max_btn{
    cursor: pointer;
    color: #BCBCBC;
}

.add-li-btn {
    width: border-box;
    height: fit-content;
}

.add-li-btn button{
    margin: 0 auto 24px auto;
    width: 32px;
    height: 32px;
    display: block;
}

.add-li-btn i {
    color: #BCBCBC;
    font-size: 24px;
}

.param-add-popover {
    display: flex;
}

.param-add-popover button{
    margin: 8px;
}

.tooltip-slider p{
    /*text-align: center;*/
    margin: 8px;
}

.li-rm-btn {

}

.mdl-list {
    /*padding-left: 24px;*/
    /*padding-right: 30px;*/
    /*padding-bottom: 0;*/
    margin-bottom: 0;
    padding: 60px 72px 0 68px;
    /*padding-bottom: 20px;!*この値はmdl-textfieldのデフォルト値に合わせてる*!*/
}

/*.mdl-list  .mdl-textfield{*/
/*width: 250px;*/
/*}*/

.li-rm-btn .fa-times{
    color: #BCBCBC;
}

.mdl-list .mdl-list__item {
    margin: 0 8px 12px 8px;
    padding-top: 0;
}

.mdl-list .params_check {
    margin-right: 40px;
    margin-left: 40px;
}


/*.tooltip-slider select {*/
/*margin: 0 auto;*/
/*}*/

.popover-header {
    display: none;
}