@charset "UTF-8";

body{
    margin: 0;
    background: #f2f2f2;
}

header{
    width: auto;
    height: 100px;
    position:relative;
    display:block;
    margin: 0;
    background: white;
    box-shadow: 0 0 5px 0;
}

#contents{
    width: 80%;
    height: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

#chart_div{
    height: auto;
    width: 100%;
    margin: 0;
    padding-bottom: 50px;
}

#chart-title{
    font-family:"メイリオ", sans-serif;
    margin: 0;
    position:absolute;
    color: slategray;
    top: 50%;
    left: 50%;
    transform : translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -webkit-transform : translate(-50%,-50%);
    text-align: center;
}

#month-wrapper{
    position:relative;
    padding: 25px 0;
    margin: auto;
}

#month{
    font-family:"メイリオ", sans-serif;
    text-align: center;
    color: slategray;
    display:inline-block;
    position:absolute;
    top: 50%;
    left: 50%;
    transform : translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -webkit-transform : translate(-50%,-50%);
}

button{
    position:relative;
    width: 36px;
    height: 36px;
    border-radius: 50%;
}

/*#mon-btn-next{*/
    /*float: right;*/
/*}*/

.mon_btn{
    margin: 0 10px 0 10px;
}

.btn-img{
    width: 36px;
    height: 36px;
    margin: 0;
    position:absolute;
    top: 50%;
    left: 50%;
    transform : translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -webkit-transform : translate(-50%,-50%);
}

#btn-img-next{
    float: right;
}

/*#btn-img-back{*/
    /*transform: rotateY(180deg) translate(50%, -50%);*/
    /*-ms-transform: rotateY(180deg) translate(50%, -50%);*/
    /*-webkit-transform : rotateY(180deg) translate(50%, -50%);*/
/*}*/

.card{
    width: 100%;
    padding: 50px;
    margin-bottom: 50px;
}