@charset "UTF-8";
body {
  background-color: #F4F3EF; }

.mdl-layout__drawer-button i {
  color: #f4cab1; }

.mdl-layout__header {
  background: #524b4b;
  color: white; }

.mdl-layout__content {
  width: 100%;
  margin-top: 72px; }

#tab-row {
  background-color: #fcfcfb;
  width: 100%;
  height: 48px; }
  #tab-row > div {
    height: 100%;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap; }
    #tab-row > div .tab-btn-w {
      display: inline-block;
      width: 80px;
      padding: 8px 24px; }
      #tab-row > div .tab-btn-w i {
        color: rgba(0, 0, 0, 0.87); }
    #tab-row > div #tab-center {
      height: 48px;
      -webkit-box-flex: 100;
      -webkit-flex-grow: 100;
      -ms-flex-positive: 100;
      flex-grow: 100; }
      #tab-row > div #tab-center > div {
        display: -webkit-inline-box;
        display: -webkit-inline-flex;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        width: 100%;
        height: 100%; }
        #tab-row > div #tab-center > div#tab1 {
          display: none; }
        #tab-row > div #tab-center > div .layout__tab {
          color: rgba(0, 0, 0, 0.54);
          -webkit-flex-grow: 2;
          /* Safari */
          -webkit-box-flex: 2;
          -ms-flex-positive: 2;
          flex-grow: 2;
          vertical-align: middle;
          height: 48px;
          position: relative;
          cursor: pointer; }
          #tab-row > div #tab-center > div .layout__tab > .dot {
            position: absolute;
            background: #E57C3E;
            bottom: 6px;
            right: 6px;
            height: 12px;
            width: 12px; }
          #tab-row > div #tab-center > div .layout__tab.is-active {
            color: rgba(0, 0, 0, 0.87);
            border-bottom: #E57C3E solid 2px; }
          #tab-row > div #tab-center > div .layout__tab.holiday {
            color: #dd3734; }
          #tab-row > div #tab-center > div .layout__tab span {
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translateX(-50%) translateY(-50%);
            -ms-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
            text-align: center; }

#page-content-wrapper {
  margin: 0 auto; }
  #page-content-wrapper #page-load-prg {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%; }
  #page-content-wrapper #container-fluid {
    margin: 44px auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    display: -moz-flex; }
    #page-content-wrapper #container-fluid #fab-w-w {
      width: 40px;
      height: 120px;
      margin-top: 220px;
      margin-left: 16px;
      display: inline-block;
      position: relative; }
      #page-content-wrapper #container-fluid #fab-w-w #save {
        position: absolute;
        color: white;
        background-color: #E57C3E; }
    #page-content-wrapper #container-fluid #right-column {
      width: 256px; }
      #page-content-wrapper #container-fluid #right-column #right-spacer {
        width: 256px;
        height: 84px; }
      #page-content-wrapper #container-fluid #right-column #right-ul {
        margin-bottom: 15px;
        padding-left: 0; }
        #page-content-wrapper #container-fluid #right-column #right-ul li {
          list-style-type: none;
          line-height: 1.4;
          margin: 3px 0; }
          #page-content-wrapper #container-fluid #right-column #right-ul li a {
            display: block;
            padding: 3px 10px;
            line-height: 1.4;
            color: #999; }
            #page-content-wrapper #container-fluid #right-column #right-ul li a:hover {
              color: #E57C3E;
              background-color: #ebeae6; }
  #page-content-wrapper .card_wrapper {
    padding-left: 20px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content; }
    #page-content-wrapper .card_wrapper .card-wrapper-i {
      vertical-align: top;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      padding: 20px 20px;
      margin: 0 auto;
      width: -webkit-min-content;
      width: -moz-min-content;
      width: min-content; }
      #page-content-wrapper .card_wrapper .card-wrapper-i .card {
        margin-left: 20px;
        width: 600px;
        /*イベントのカードの横幅default値*/
        display: inline-block; }
        #page-content-wrapper .card_wrapper .card-wrapper-i .card .add-button-w {
          width: 100%;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -webkit-justify-content: center;
          -ms-flex-pack: center;
          justify-content: center;
          color: #BCBCBC;
          padding-bottom: 8px; }
        #page-content-wrapper .card_wrapper .card-wrapper-i .card .ele_header {
          font-size: 18px;
          padding: 24px 36px 0 36px;
          margin: 0; }
          #page-content-wrapper .card_wrapper .card-wrapper-i .card .ele_header .svg-inline--fa {
            color: #E57C3E;
            margin-right: 20px;
            font-size: 20px; }
        #page-content-wrapper .card_wrapper .card-wrapper-i .card .tag_pool {
          padding: 24px 60px; }
          #page-content-wrapper .card_wrapper .card-wrapper-i .card .tag_pool .tag-add-btn {
            color: #BCBCBC;
            font-size: 24px;
            height: 32px;
            width: 32px;
            margin-top: 8px;
            margin-right: 4px;
            margin-left: 4px; }
          #page-content-wrapper .card_wrapper .card-wrapper-i .card .tag_pool .mdl-chip {
            height: 36px;
            line-height: 37px;
            border-radius: 18px; }
            #page-content-wrapper .card_wrapper .card-wrapper-i .card .tag_pool .mdl-chip .mdl-chip__text {
              cursor: pointer;
              font-size: 16px; }
            #page-content-wrapper .card_wrapper .card-wrapper-i .card .tag_pool .mdl-chip .mdl-chip__action {
              width: 28px; }
        #page-content-wrapper .card_wrapper .card-wrapper-i .card .comment {
          width: 100%; }
        #page-content-wrapper .card_wrapper .card-wrapper-i .card .comment_form {
          padding: 8px 40px 0 40px; }
      #page-content-wrapper .card_wrapper .card-wrapper-i[card-type='1'] .card .mdl-list {
        padding: 24px 60px;
        margin: 0; }
        #page-content-wrapper .card_wrapper .card-wrapper-i[card-type='1'] .card .mdl-list .mdl-list__item {
          padding: 0; }
          #page-content-wrapper .card_wrapper .card-wrapper-i[card-type='1'] .card .mdl-list .mdl-list__item .mdl-textfield {
            padding: 0; }
            #page-content-wrapper .card_wrapper .card-wrapper-i[card-type='1'] .card .mdl-list .mdl-list__item .mdl-textfield .mdl-textfield__input {
              padding: 0;
              font-size: 18px; }
          #page-content-wrapper .card_wrapper .card-wrapper-i[card-type='1'] .card .mdl-list .mdl-list__item .time-single {
            width: 123px;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            justify-content: center; }
          #page-content-wrapper .card_wrapper .card-wrapper-i[card-type='1'] .card .mdl-list .mdl-list__item .time {
            width: 50px; }
            #page-content-wrapper .card_wrapper .card-wrapper-i[card-type='1'] .card .mdl-list .mdl-list__item .time .mdl-textfield__input {
              text-align: center; }
          #page-content-wrapper .card_wrapper .card-wrapper-i[card-type='1'] .card .mdl-list .mdl-list__item .params_title_w {
            margin-left: 16px;
            width: 290px; }
          #page-content-wrapper .card_wrapper .card-wrapper-i[card-type='1'] .card .mdl-list .mdl-list__item .time-multi .arrow {
            color: #E57C3E; }
          #page-content-wrapper .card_wrapper .card-wrapper-i[card-type='1'] .card .mdl-list .mdl-list__item .mdl-list__item-secondary-content button {
            height: 20px;
            width: 20px;
            min-width: 15px;
            font-size: 15px;
            color: #BCBCBC; }
      #page-content-wrapper .card_wrapper .card-wrapper-i[card-type='4'] .card .mdl-list {
        padding: 16px 60px 0 24px; }
        #page-content-wrapper .card_wrapper .card-wrapper-i[card-type='4'] .card .mdl-list .mdl-list__item {
          padding: 0; }
          #page-content-wrapper .card_wrapper .card-wrapper-i[card-type='4'] .card .mdl-list .mdl-list__item .mdl-list__item-primary-content {
            -webkit-box-flex: 2;
            -webkit-flex-grow: 2;
            -ms-flex-positive: 2;
            flex-grow: 2; }
            #page-content-wrapper .card_wrapper .card-wrapper-i[card-type='4'] .card .mdl-list .mdl-list__item .mdl-list__item-primary-content .mdl-textfield {
              padding: 20px 8px; }
          #page-content-wrapper .card_wrapper .card-wrapper-i[card-type='4'] .card .mdl-list .mdl-list__item .params_check {
            margin-right: 42px;
            margin-left: 54px; }
          #page-content-wrapper .card_wrapper .card-wrapper-i[card-type='4'] .card .mdl-list .mdl-list__item .mdl-slider__container {
            display: none; }
            #page-content-wrapper .card_wrapper .card-wrapper-i[card-type='4'] .card .mdl-list .mdl-list__item .mdl-slider__container .mdl-slider {
              width: 80px; }
