/*---------------ローディング画面系-------------*/
#progress {
    position: fixed;
    height: 4em;
    width: 4em;
    top: 50%;
    left: 50%;
    margin-top: -2em;
    margin-left: -2em;
    display: none;
}

#post_load {
    /*display: none;*/
}

.page-content{
    /*display: none;*/
}

/*ドロワーまわり*/
.demo-drawer {
    border: none;
}
/* iOS Safari specific workaround */
.demo-drawer .mdl-menu__container {
    z-index: -1;
}
.demo-drawer .demo-navigation {
    z-index: -2;
}
/* END iOS Safari specific workaround */
.demo-drawer .mdl-menu .mdl-menu__item {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.demo-drawer-header {
    box-sizing: border-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 16px;
    height: 151px;
    background-color: white;
}

.demo-avatar {
    width: 48px;
    height: 48px;
    border-radius: 24px;
    margin-right: 24px;
}

.demo-avatar-dropdown {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
}

.demo-navigation {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.demo-layout .demo-navigation .mdl-navigation__link {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.56);
    font-weight: 500;
}

.drawer_icon {
    margin-right: 32px;
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link{
    text-decoration: none;
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link :hover {
    text-decoration: none;
}

/*************nav bar***************/
.mdl-layout__header{
    background-color: white;
    color: #66615b;
}

.mdl-layout__header .mdl-layout__drawer-button {
    color: #66615b;
}

.mdl-layout__tab{
    background-color: white;
}

.mdl-layout__header-row{
    padding-right: 20px;
}

/*----------------login---------------*/
#login-grid{
    text-align: center;
}

#login-logo{
    width: 100%;
    max-width: 200px;
}

#login_w{
    width: 100%;
    display: none;
}

#login_title{
    color: #E57C3E;
    text-align: center;
    margin-top: 8px;
    margin-bottom: 100px;
}

/*-------------frame work-----------*/
.seem {
    margin: 60px 60px;
    background-color: #c5c3c3;
    border: 0;
}

body {
    overflow-x: auto;
    background-color: #F4F3EF;
    min-width: 760px;
}

/*----------------card---------------*/
.card {
    margin: 24px;
    border: 0;
    border-radius: 10px;
    box-shadow: 0 2px 2px rgba(204, 197, 185, 0.5);
    padding: 24px 28px 24px 28px;
    /*max-width: 1200px;*/
    width: fit-content;
}

.average{
    color: #66615b;
    font-size: 20px;
    margin: 0 0 8px 0;
    vertical-align: middle;
}

.sub_chart{

}

#wrapper {
    display: -webkit-flex; /* Safari */
    display: flex;
    -webkit-flex-wrap: wrap; /* Safari */
    flex-wrap:         wrap;
}

/*-----------------title------------------*/
.group-w-title-w {
    /*margin: 32px 0 0 0;*/
    padding: 0 40px;
}

.group-w-title-w h1 {
    color: #757575;
    font-size: 14px;
    margin: 0;
}

#group .group-w-title-w p {
    color: #E57C3E;
    margin: 8px 0 0 0;
    display: none;
}

/*-----------------group------------------*/
#group .non-data{
    color: #CCC5B9;
    font-size: 14px;
}

.demo-card-image.mdl-card {
    width: 200px;
    height: 200px;
    background: url('img/icon.png') center / cover;
    min-height: 0;
    margin: 24px;
}

.demo-card-image > .mdl-card__actions {
    height: 52px;
    padding: 0 8px 0 16px;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    box-sizing:border-box;
    align-items: center;
}

.demo-card-image .demo-card-image__filename {
    color: #fff;
    font-size: 12px;
    font-weight: 500;
}

.demo-card-image .mdl-card__title{
    margin: 0;
}

/*.demo-card-image .mdl-badge {*/
    /*top: 19px; !*= 11 + 22/2*!*/
    /*right: 8px;*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*!*color: #E57C3E;*!*/
/*}*/

.mdl-badge[data-badge]:after {
    top: 8px !important;
    right: 8px !important;
    background-color: #E57C3E;
}

.mdl-layout-spacer{
    min-width: 4px;
}

.fa-calendar-alt{
    font-size: 22px;
}

#group .demo-card-image {
    cursor: pointer;
}

.wrapper-g{
    margin: 72px 32px 16px 32px;
}

.group-wrapper {
    display: -webkit-flex; /* Safari */
    display: flex;
    -webkit-flex-wrap: wrap; /* Safari */
    flex-wrap:         wrap;
}

/*---------------ユーザ-----------------*/

/*#user-w-w .group-w-title-w h1{*/
    /**/
/*}*/

.user-image{
    height: 100px;
    width: 100%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    min-height: 0;
}

.user-image-i{
    height: 100px;
    width: 100%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.user-img-w{
    margin: 16px 24px;
    width: 100px;
}

.user-name {
    margin: 12px 0;
    color: #757575;
    width: 100%;
    text-align: center;
}

#add-btn-w{
    margin: 24px;
    height: 200px;
    width: 100px;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
}

#add-btn-w button {
    background-color: #E57C3E;
    color: white;
}

#other-users-w {
    margin-top: 24px;
}

/*-------------クイックアクセス--------------*/

.quick-access.mdl-card {
    width: 210px;
    margin: 24px;
    height: 140px;
    /*background: url('img/icon.png') center / cover;*/
    min-height: 0;
    /*min-width: 0;*/
    /*margin: 24px;*/
}

.quick-access > .mdl-card__title {
    color: #fff;
    height: 90px;
    background: url('img/icon.png') center / cover;
}

.quick-access .filename-w {
    padding: 8px 16px;
}

.quick-access .filename {
    margin-bottom: 0;
    text-overflow: ellipsis;
    font-size: 16px;
}

.quick-access .file-caption {
    color: rgba(0,0,0,.54);
    margin-bottom: 0;
    text-overflow: ellipsis;
    font-size: 13px;
}

.mdl-card__menu {
    right: 8px;
    top: 4px;
    color: #E57C3E;
}

    /*.quick-access > .mdl-card__actions {*/
    /*height: 52px;*/
    /*padding: 0 8px 0 16px;*/
    /*background: rgba(255, 255, 255, 0.7);*/
    /*display: flex;*/
    /*box-sizing:border-box;*/
    /*align-items: center;*/
/*}*/

.wrapper-access {
    margin: 0 0 32px 0;
}

.wrapper-access > .group-wrapper {
    background: #524b4b;
}

/*.quick-access .demo-card-image__filename {*/
    /*color: #757575;*/
    /*font-size: 12px;*/
    /*font-weight: 500;*/
/*}*/

/*--------プロフィール-------------*/
#profile {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
}

#inner {
    display: inline-block;
}

#profile img {
    height: 100px;
    width: 100px;
    margin-right: 24px;
}

#profile-w {
    height: fit-content;
}

#profile-w h3 {
    margin: 0 0 12px 0;
    font-size: 24px;
}

#profile-w .fa-user {
    color: #E57C3E;
}

#user-w {
    display: flex;
}

#edit-prof{
    width: 100%;
    text-align: center;
}

#edit-prof button {
    color: #E57C3E;
    font-weight: 500;
    font-size: 16px;
}

#user-w-w {
    padding-top: 16px;
}

.cursor-text {
    cursor: text;
}