.page-content{
    /*display: none;*/
}

/*************nav bar***************/
.mdl-layout__drawer-button i{
    color: #f4cab1;
}

.mdl-layout__header {
    background: #524b4b;
    color: white;
}

.mdl-layout__tab{
    background-color: white;
}

.mdl-layout__header-row{
    padding-right: 20px;
}

#group-drp-btn {
    display: none;
}

/*----------------login---------------*/
#login-grid{
    text-align: center;
}

#login-logo{
    width: 100%;
    max-width: 200px;
}

#login_w{
    width: 100%;
    display: none;
}

#login_title{
    color: #E57C3E;
    text-align: center;
    margin-top: 8px;
    margin-bottom: 100px;
}

/*-------------frame work-----------*/
.seem {
    margin: 60px 60px;
    background-color: #c5c3c3;
    border: 0;
}

body {
    overflow-x: auto;
    background-color: #F4F3EF;
    min-width: 760px;
}

/*----------------card---------------*/
.card {
    margin: 24px;
    border: 0;
    /*border-radius: 10px;*/
    /*box-shadow: 0 2px 2px rgba(204, 197, 185, 0.5);*/
    padding: 4px 28px 24px 28px;
    /*max-width: 1200px;*/
    width: fit-content;
    background: transparent;
}

.average{
    color: #66615b;
    font-size: 20px;
    margin: 0 0 8px 0;
    vertical-align: middle;
}

.sub_chart{

}

/*#wrapper {*/
    /*display: -webkit-flex; !* Safari *!*/
    /*display: flex;*/
    /*-webkit-flex-wrap: wrap; !* Safari *!*/
    /*flex-wrap:         wrap;*/
/*}*/

/*-----------------title------------------*/
.group-w-title-w {
    /*margin: 32px 0 0 0;*/
    padding: 0 40px;
}

.group-w-title-w h1 {
    color: #757575;
    font-size: 14px;
    margin: 0;
}

#group .group-w-title-w p {
    color: #E57C3E;
    margin: 8px 0 0 0;
    display: none;
}

/*-----------------group------------------*/
#group .non-data{
    color: #CCC5B9;
    font-size: 14px;
}

.demo-card-image.mdl-card {
    width: 200px;
    height: 200px;
    background: url('img/icon.png') center / cover;
    min-height: 0;
    margin: 24px;
}

.demo-card-image > .mdl-card__actions {
    height: 52px;
    padding: 0 8px 0 16px;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    box-sizing:border-box;
    align-items: center;
}

.demo-card-image .demo-card-image__filename {
    color: #fff;
    font-size: 12px;
    font-weight: 500;
}

.demo-card-image .mdl-card__title{
    margin: 0;
}

/*.demo-card-image .mdl-badge {*/
    /*top: 19px; !*= 11 + 22/2*!*/
    /*right: 8px;*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*!*color: #E57C3E;*!*/
/*}*/

.mdl-badge[data-badge]:after {
    top: 8px !important;
    right: 8px !important;
    background-color: #E57C3E;
}

.mdl-layout-spacer{
    min-width: 4px;
}

.fa-calendar-alt{
    font-size: 22px;
}

#group .demo-card-image {
    cursor: pointer;
}

.wrapper-g{
    margin: 72px 32px 16px 32px;
}

#spacer {
    margin: 100px auto 0 auto;
    max-width: 1000px;
}

.group-wrapper {
    display: -webkit-flex; /* Safari */
    display: flex;
    -webkit-flex-wrap: wrap; /* Safari */
    flex-wrap:         wrap;
    margin-bottom: 60px;
}

/*---------------ユーザ-----------------*/

/*#user-w-w .group-w-title-w h1{*/
    /**/
/*}*/

.user-image{
    height: 100px;
    width: 100%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    min-height: 0;
}

.user-image-i{
    height: 100px;
    width: 100%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    object-fit: cover;
}

.user-img-w{
    margin: 16px 24px;
    width: 100px;
}

/*.user-name {*/
    /*margin: 0 12px;*/
    /*width: 100%;*/
    /*text-align: center;*/
/*}*/

.add-btn-fab {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
}

/*.add-btn-fab button {*/
    /*background-color: #E57C3E;*/
    /*color: white;*/
/*}*/

#add-btn-w{
    margin: 24px;
    height: 200px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#add-btn-user-w {
    margin: 24px;
    height: 92px;
}

#other-users-w {
    margin-top: 24px;
}

/*-------------クイックアクセス--------------*/

.quick-access.mdl-card {
    width: 210px;
    margin: 24px;
    height: 140px;
    /*background: url('img/icon.png') center / cover;*/
    min-height: 0;
    /*min-width: 0;*/
    /*margin: 24px;*/
}

.quick-access > .mdl-card__title {
    color: #fff;
    height: 90px;
    /*background: url('img/icon.png') center / cover;*/
}

.quick-access .filename-w {
    padding: 8px 16px;
}

.quick-access .filename {
    margin-bottom: 0;
    text-overflow: ellipsis;
    font-size: 16px;
}

.quick-access .file-caption {
    color: rgba(0,0,0,.54);
    margin-bottom: 0;
    text-overflow: ellipsis;
    font-size: 13px;
}

.mdl-card__menu {
    right: 8px;
    top: 4px;
    color: #E57C3E;
}

    /*.quick-access > .mdl-card__actions {*/
    /*height: 52px;*/
    /*padding: 0 8px 0 16px;*/
    /*background: rgba(255, 255, 255, 0.7);*/
    /*display: flex;*/
    /*box-sizing:border-box;*/
    /*align-items: center;*/
/*}*/

.wrapper-access {
    background: #524b4b;
}

.wrapper-access > .group-wrapper {
    max-width: 1000px;
    margin: 0 auto;
}

.dummy {
    display: none;
}

/*.quick-access .demo-card-image__filename {*/
    /*color: #757575;*/
    /*font-size: 12px;*/
    /*font-weight: 500;*/
/*}*/

/*--------プロフィール-------------*/
#profile {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
}

.prof-header .mdl-list__item {
    padding: 0;
    min-height: 0;
}

.prof-header {
    padding-top: 0;
    /*margin-bottom: 16px;*/
}

.prof-header .fa-user {
    margin-right: 28px;
}

.prof-header .mdl-list__item-primary-content {
    padding-right: 28px;
}

.user-name {
    /*margin-left: 16px;*/
    /*font-size: 20px;*/
    /*color: rgba(0,0,0,.87);*/
    text-align: center;
    margin-top: 8px;
}

#inner {
    display: inline-block;
}

#profile img {
    height: 100px;
    width: 100px;
    margin-right: 24px;
    object-fit: cover;
    border-radius: 50%;
    border-width: 0;
    min-height: unset;
}

#profile-w {
    height: fit-content;
    margin: 0 auto;
}

#profile-w .fa-user {
    color: #E57C3E;
    font-size: 24px;
}

#profile-w .material-icons {
    color: saddlebrown;
}

#user-w {
    display: flex;
}

/*#edit-prof{*/
    /*width: 100%;*/
    /*text-align: center;*/
/*}*/

#edit-prof {
    margin-top: 36px;
    color: saddlebrown;
    font-weight: 500;
    font-size: 16px;
}

#user-w-w {
    padding-top: 16px;
}

.cursor-text {
    cursor: text;
}

#profile-w .mdl-textfield {

}

/*----------modal-------------*/
.mdl-dialog__title {
    font-size: 14px;
    color: #757575;
}

#dialog-img-w {
    width: 100%;
    text-align: center;
    object-fit: contain;
}

.mdl-dialog {
    width: fit-content;
    max-width: 60%;
    max-height: 80%;
    overflow-y: auto;
}

.mdl-list__item img {
    display: inline-block;
}

.mdl-dialog .mdl-list__item-primary-content img{
    margin-right: 24px;
}

.mdl-dialog .mdl-list__item-primary-content span {
    text-align: left;
    color: rgba(0,0,0,.87);
}

.mdl-dialog .mdl-list__item-primary-content {
    margin-right: 48px;
}

#add-group img{
    width: 60px;
    height: 60px;
    object-fit: cover;
}

.mdl-dialog__content h4 {
    font-size: 18px;
    margin: 8px 0 8px 0;
}

#create-group .mdl-list__item-primary-content img{
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.group-icon {
    width: 60px;
    height: 60px;
    position: relative;
    margin: 0 auto;
    cursor: pointer;
}

.group-icon img{
    width: 60px;
    height: 60px;
    object-fit: cover;
}

.group-icon > div {
    position: absolute;
    width: 22px;
    height: 22px;
    background: #E57C3E;
    bottom: 0;
    right: 0;
    vertical-align: center;
    text-align: center;
}

.group-icon .fa-folder {
    color: white;
}

/*.mdl-badge[data-badge]:after {*/
    /*top: 16px !important;*/
    /*right: 0 !important;*/
/*}*/

.mdl-checkbox__ripple-container .mdl-ripple {
    background: #E57C3E;
}

.mdl-checkbox.is-checked .mdl-checkbox__box-outline {
    border: 2px solid #E57C3E;
}

.mdl-checkbox.is-checked .mdl-checkbox__tick-outline {
    background: #E57C3E;
}

/*--------------ユーザ検索------------*/
.user-icon-search {
    width: 60px;
    height: 60px;
}

#search-user-header .mdl-button {
    color: #E57C3E;
}

.search-content .search__error {
    display: none;
}

.search-content.on-error .search__error{
    display: inline;
}

.search-content .mdl-list {
    display: none;
}

.search-content.on-success .mdl-list{
    display: block;
}

.search-content .search__loading {
    display: none;
    padding-top: 24px;
}

.search-content.on-loading .search__loading {
    display: block;
}

.spinner-spacer {
    width: 50%;
}

.search-content .mdl-list .person_add{
    color: #E57C3E;
}

.search-content .mdl-list .friend-added{
    color: dodgerblue;
}

/*------------Bootstrap notify------------*/
.alert-minimalist {
    background-color: rgb(241, 242, 240);
    border-color: rgba(149, 149, 149, 0.3);
    border-radius: 3px;
    color: rgb(149, 149, 149);
    padding: 10px;
    display: flex !important;
    display: -webkit-flex !important;
    flex-direction: row;
    align-items: flex-start;
}
.alert-minimalist [data-notify="icon"] {
    height: 50px;
    margin-right: 12px;
}
.alert-minimalist [data-notify="title"] {
    color: rgb(51, 51, 51);
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}
.alert-minimalist [data-notify="message"] {
    font-size: 80%;
}

.alert-minimalist .pull-left {
    float: left;
}

.alert-minimalist .alert span {
    float: right;
}

.alert-minimalist .close {
    display: inline-block;
}

.alert-minimalist div {
    flex-grow: 2
}

/*---------------通知------------*/
.notification div {
    margin: 0 60px;
    /*padding-top: 48px;*/
    height: fit-content;
}

/*.notification {*/
    /*display: none;*/
/*}*/

.notification .mdl-list__item-primary-content {
    padding: 0 16px 8px 16px;
}

.notification .mdl-list__item--three-line .mdl-list__item-primary-content {
    height: auto;
}

.notification .mdl-list__item--three-line .mdl-list__item-text-body {
    height: auto;
    padding-left: 76px;
}

.invite-group-icon {
    width: 60px;
    height: 60px;
}

.demo-list-two {
    display: inline-block;
    padding: 0;
    margin-bottom: 0;
}

.demo-list-two .mdl-list__item-secondary-content {
    display: inline-block;
}

.notification .mdl-list__item--three-line {
    height: fit-content;
    padding: 0;
}

.notification .tool-tips {
    display: block;
    margin-top: 16px;
}

.notification .mdl-chip {
    margin: 4px 4px 4px 0;
    background-color: transparent;
    color: saddlebrown;
}

.notification .mdl-button {
    font-size: 18px;
    color: #E57C3E;
}

.notification .btns-li {
    padding-bottom: 0;
}

#my-img{
    width: 200px;
    height: 200px;
    min-width: 200px;
    margin-top: 36px;
    position: relative;
}

#my-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#my-img #my-img-dot {
    background-color: gray;
    position: absolute;
    bottom: 4px;
    right: 4px;
    width: 48px;
    height: 48px;
    align-items: center;
    justify-content: center;
    display: none;
}

#my-img #my-img-dot .fa-folder{
    color: white;
    display: block;
    font-size: 24px;
}

#post-prof-inner {
    display: flex;
    align-items: flex-start;
    margin: 16px 56px 16px 56px;
}

#post-prof #right-col {
    flex-grow: 2;
    margin: 0 0 0 64px;
    color: rgba(0, 0, 0, .87);
}

#post-prof #right-col .mdl-list__item{
    padding: 0;
    margin-right: 16px;
    margin-left: 16px;
}

/*#my-name-li i{*/
    /*width: 36px;*/
    /*height: 36px;*/
    /*font-size: 36px;*/
/*}*/

#my-name-li .mdl-textfield__input {
    font-size: 24px;
}

/*#my-name-li .mdl-list__item-primary-content .mdl-textfield{*/
    /*width: 356px;*/
/*}*/

#my-name-li .mdl-list__item-secondary-action .mdl-button {
    font-size: 18px;
    color: #E57C3E;
    display: none;
}

#user-email-li .mdl-textfield__input, #user-pw-old .mdl-textfield__input, #user-pw-new .mdl-textfield__input {
    font-size: 18px;
    width: calc(300px - 56px);
}

#user-email-li .mdl-textfield__label, #user-pw-old .mdl-textfield__label, #user-pw-new .mdl-textfield__label {
    width: calc(300px - 56px);
}

#user-email-li .mdl-textfield, #user-pw-old .mdl-textfield {
    width: calc(300px - 56px);
}

#user-email-li .mdl-list__item-secondary-action .mdl-button {
    color: #E57C3E;
    display: none;
}

#right-col .mdl-textfield__label {
    display: none;
}
#right-col .mdl-textfield__input {
    border-bottom: none;
}

#my-name-li {
    margin-top: 16px;
}

#user-pw-new i{
    color: transparent;
}

#edit-prof {
    color: #E57C3E;
    margin-top: 32px;
}

#save-prof-w {
    height: 92px;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
}

.mdl-button--fab {
    background-color: #E57C3E;
    color: white;
}

#user-pw-old .mdl-button {
    display: none;
    color: #E57C3E;
}

#my-img input {
    display: none;
}

#placeholder {
    display: none;
    width: 100%;
    height: 100%;
    z-index: -4;
}

[data-notify="progressbar"] {
    margin-bottom: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
}

/*#re-auth h4 {*/
    /*margin: 0;*/
    /*color: saddlebrown;*/
/*}*/